

/****** Category News ********/
.news {

}
.sidebar #search{
    border: 1px solid #EAE8E8;
}
.image-article {
    margin: 0 15px 0 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 250px;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 1px #CCC;
}
.image-article:before {
    content: '';
    padding-top: 75%;
    display: block;
}
.news__left {
    border: 4px solid #eee;
}
.news__left>h2 {
    margin: 0 0;
    text-transform: uppercase;
    background-color: #0CA0CF;
    color: #FFF;
    font-size: 13px;
    padding: 15px;
    font-weight: 600;
}
.navNews{
}
.navNews li{
    padding: 10px 15px;
    border-bottom: 1px solid #f8f8f8;
}
.navNews li a{
    color: #333;
    font-size: 13px;
}
.navNews li a:hover, .navNews li a.active{
    color: #0CA0CF;
}
.lNCategory li{
    margin: 0 0 30px;
    padding: 0 0 30px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}
.lNCategory li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.news__category {
    font-size: 12px;
    background-color: #0CA0CF;
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
}
.news__title {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.news__title a{
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news__title a:hover{
    color: #0a8fb9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/****** paginator *******/

/****** DetailNews ******/
.detailNews{
    overflow: hidden;
    margin: 0;
}
.detailNews p{
    line-height: 26px !important;
}
.detailNews>div.social{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 15px 0;
}
.detailNews>div>h1{
    color: #333;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}
.detailNews img{
    max-width: 100%;
    height: inherit !important;
}
.detailNews *{
    max-width: 100%;
}
/*********sidebar*******/
.sidebar__content p{
    color: #888;
}
.sidebar__content a{
    color: #333;
    transition: all 0.4s ease;
}
.sidebar__title{
    margin: 30px 0;
    padding: 15px;
    text-transform: uppercase;
    background-color: #0a8fb9;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
}
.sidebar__box:nth-child(1) .sidebar__title{
    margin-top: 0;
}
.news__list-category li a:hover{
    transition: all 0.4s ease;
}
.news__list-category li a i {
    margin-right: 5px;
}
.sidebar__box input{
    padding: 15px;
    width: 100%;
}

.sidebar__image{
    background: no-repeat center;
    background-size: cover;
    position: relative;
}
.sidebar__image:before{
    content: '';
    display: block;
    padding-top: 75%;
}
.sidebar__news li{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.sidebar__wrapper--image{
    width: 30%;
}
.sidebar__content{
    width: 70%;
    margin-left: 15px;
}
.sidebar__content h4{
    margin: 0;
    font-size: 13px;
}
.sidebar__content a:hover{
    transition: all 0.4s ease;
}
.sidebar__content p{
    margin: 5px 0 0;
    font-size: 12px;
}
.sidebar__box .post-last__image{
    margin-top: 30px;
}

.sidebar__box:last-child{
    margin-top: 60px;
    padding-bottom: 30px;
}
.sidebar__box .sidebar__banner .post-last__image{
    margin: 0 -15px;
}
.sidebar__box .sidebar__banner .sidebar__title{
    margin: 0 -15px;
}
.sidebar__box .sidebar__banner a figure:before{
    content: '';
    display: block;
    padding-top: 30%;
}
.sidebar__box .sidebar__banner a figure{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
}
.post-last__image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.post-last__image{
    display: block;
    content: '';
    padding-top: 75%;
}
.news__list-category li{
    padding: 10px 0;
    position: relative;
}
.news__list-category > li{
    border-bottom: 1px solid #e6e6e6;
}
.news__list-category li a{
    color: #909090;
}
.news__list-category li a:hover{
    color: #0a8fb9;
}
.news__list-category li a i {
    margin-right: 5px;
}
.news__list-category li button {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #333;
    background: #fff;
    border: none;
    width: 23px;
    height: 23px;
    z-index: 3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:1001;
}
.news__list-category li button:hover{
    color: #0a8fb9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news__list-category li ul{
    display: none;
}
.news__list-category li ul li{
    padding: 10px 0 0 15px;
}
/*********contact*******/
.contactForm{
    background: #fff;
}
.contactForm .form-group input, .contactForm .form-group textarea {
    border: 1px solid #CCC;
}
.contact__logo{
    margin-top: 0;
}
.contact__description::after {
    background-color: #EAE8E8;
}
.contactForm .form-group button[type="submit"] {
    background: #0CA0CF;
    color:#fff ;
}
/*relation post*/
.related-post__item--title a{
    color: #666;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.related-post__item--title a:hover{
    color: #0a8fb9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.related-post__item--title i{
    margin-right: 5px;
}