/******** Category ***********/
.main {
    margin: 30px 0 0;
}
#product{
    display: none !important;
}
img{
    max-width: 100%;
}
.categoryProduct{
    margin: 0 0 60px 0;
}
.categoryProduct li{
    list-style: none;
    position: relative;
}
.categoryProduct>li:last-child{
}
.categoryProduct li ul{
    display: none;
}
.categoryProduct > li {
    border-bottom: 1px dashed #f7edf0;
}
.categoryProduct li a{
    font-size: 15px;
    display: block;
    position: relative;
    color: #333;
}
.categoryProduct li a i{
    font-size: 13px;
    margin: 0 10px 0 0;
    color: #e5e5e5;
}
.categoryProduct li ul li{
    padding: 10px 0;
}
.nav2 li:last-child{
    border-bottom: none;
}

.hero-product__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.hero-product__image:before {
    content: '';
    padding-top: 22%;
    display: block;
}
.hero-product__image h3 {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 56px;
    font-weight: 400;
    font-family: 'Amatic SC',cursive;
}
.productCategory .title{
    position: relative;
    color: #815e53;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 0 0 15px;
    margin: 0;
    text-transform: uppercase;
}
.productCategory .titlePaginator{
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productCategory .titlePaginator select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 5px 10px;
    background: #FFF;
    position: relative;
    top: -15px;
    border: 1px solid #ececec;
}
.productCategory .titlePaginator select:focus {
    outline: none;
}
.lPC {
    flex-wrap: wrap;
    display: flex;
    margin: 15px -15px;
}
.lPC li{
    width: 33.33%;
    padding: 15px;
    display: block;
}
.lPC .product-item__inner{
    border: 1px solid #f7edf0;
    padding: 15px;
}
.lPC h3{
    margin: 20px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 2px 2px #f7edf0;
    color: #dd6a80;
}
/****** Detail Product *******/
.product-single-hero {
    margin: 0 0 30px 0;
    background-color: #f2f2f2;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-single-hero h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #000;
}
.product-detail{
    width: 80%;
    margin: 0 auto;
}
#product li{
    transition: all 0.4s ease;
}
#product{
    display: none;
}
.detailProduct{
    margin: 30px 0 0;
    width: 100%;
    display: inline-block;
}
#imgZoom{
    width: 50%;
    float: left;
    display: flex;
    justify-content: space-between;
}
#zoomer {
    width: 75%;
    z-index: 1;
    margin: auto 0;
}
#zoomSlide{
    width: 20%;
    position: relative;
    margin: auto 0;
    overflow: hidden;
}
#zoomer img{
    transition: all 0.4s ease;
}
#listImgZoom_2{
    width: 100%;
    float: left;
    position: relative;
    margin: -7.5px 0;
}
#listImgZoom_2 li img{
    max-width: 100%;
}
#listImgZoom_2>li {
    float: left;
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
}
#listImgZoom_2 .owl-nav div{
    color: #333;
    display: flex;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    position: absolute;
    top: 38%;
    width: 27px;
    height: 26px;
    background: #fff;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}
#listImgZoom_2 .owl-nav .owl-next{
    right: 0;
}
#listImgZoom_2 .owl-nav .owl-prev{
    left: 0;
}
.cloudzoom{
    transition: all 1s ease;
}
.slide-image-product{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.slide-image-product:before{
    content: '';
    padding-top: 100%;
    display: block;
}
.detail-image{
    position: relative;
    overflow: hidden;
}
.image-detail{
}
#prevSlideZ{
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    z-index: 3;
    width: 30px;
    height: 30px;
    color: #000;
    background: #f6f6f6;
    text-align: center;
    border: 1px solid #f6f6f6;
}
#nextSlideZ{
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    z-index: 3;
    width: 30px;
    height: 30px;
    color: #000;
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    text-align: center;
}


.descriptionProduct{
    width: 47%;
    margin: 0 0 0 3%;
    float: left;
}
.descriptionProduct>h1{
    font-family: 'Pacifico';
    font-size: 42px;
    color: #dd6a80;
    text-shadow: 2px 2px #f7edf0;
    text-align: left;
    margin: 0 0 30px;
}
.descriptionProduct>h1:first-letter {
    color: #815e53;
}
.description{
    margin: 30px 0 30px 0;
}
.description>div{
    margin: 15px 0 0 0;
}
.description>div > p{
    margin: 0 0 5px 0;
}
.description>h4{
    margin: 0 0;
    text-align: center;
    border-bottom: 1px solid #ececec;
    text-transform: uppercase;
    font-size: 15px;
}
.description>h4>span{
    background: #FFF;
    position: relative;
    top: 7px;
    padding: 0 15px;
}
.code{
    color: #999;
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    padding: 15px 0 10px 0;
    font-size: 15px;
    margin: 0 0
}

.price{
    padding: 10px 0;
    margin: 0 0;
}
.descriptionProduct .price{
    text-align: left;
    padding: 10px 0;
}
.descriptionProduct .price span{
    font-weight: 400;
    font-size: 25px;
}
.price i{
    text-decoration: line-through;
    font-style: normal;
    margin: 0 0 0 10px;
    color: #999;
    font-weight: 300;
}
.attrColor{
    padding: 15px 0 9px;
    margin: 0;
}
.attr>a{
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 0 1px #AFAFAF;
    margin: 0 6px 0 0;
    cursor: pointer;
    text-align: center;
    line-height: 23px;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.attr>a:hover{
    box-shadow: 0 0 0 1px #FF7A00;
}
.attr>a.active{
    box-shadow: 0 0 0 1px #FF7A00;
}
.attrSize{
    padding: 15px 0;
    margin: 0;
}
.attrSize>a{
    background: #f9f9f9;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 0 1px #AFAFAF;
}
.attrSize>span>a{
    color: #888;
    font-weight: 300;
    margin: 0 0 0 5px;
    line-height: 30px;
    font-size: 13px;
}
.productQuantity{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
}
.productQuantity i{
    width: 28px;
    height: 28px;
    line-height: 25px;
    display: inline-block;
    border: 1px solid #CCC;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    background: #ddd;
    float: left;
}
.productQuantity i#Quantity{
    width: 38px;
    border-right: none;
    border-left: none;
    background: #FFF;
}
.productQuantity i:focus{
    border: 1px solid #999;
}
.lAddCard{
    margin: 0;
    height: 39px;
}
.lAddCard a.btnAddCart{
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    margin: 0 0 0 2px;
    padding: 6px 28px;
    display: inline-block;
    float: left;
    background: #dd6a80;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 2px #dd6a80;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 0;

}
.lAddCard a.btnAddCart:hover{
    background: #fff;
    color: #dd6a80;
}
.lAddCard a.fav{
    height: 39px;
    width: 50px;
    display: inline-block;
    box-shadow: 0 0 0 2px #B7B7B7;
    text-align: center;
    line-height: 38px;
    color: #B7B7B7;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.lAddCard a.fav:hover{
    color: #CE4545;
    box-shadow: 0 0 0 2px #CE4545;
}
.detailPayorder{
    margin: 30px 0 0 0;
}
.detailPayorder>div>label{
    font-weight: 400;
    margin: 0 0;
    text-transform: uppercase;
}
.detailPayorder>div>label i{
    display: inline-block;
    width: 15px;
    text-align: center;
}
.detailPayorder>div>div *{
    margin: 0 0;
    padding: 0 0;
}
.detailPayorder>div>div{
    display: block;
    margin: 10px 0 0 15px;
}
.detailPayorder>div>div ul{
    margin: 0 0 0 13px;
}
.detailPayorder>div>div ul li{
    list-style: disc;
    color: #999;
    margin: 3px 0;
}

.detailPayorder>div.active>div{
    /*display: block;*/
}
.detailPayorder .description{
}
.detailPayorder>div{
    padding: 10px 0;
}
/*tab product detail*/
.nav-products {
    border-top: none;
    margin-top: 60px;
    border-bottom: none;
}
.nav-products li a{
    color: #111;
    border-radius: 0;
}
.nav-products li a:focus{
    outline: none;
}
.tab-content{
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 50px;

}
.tab-content p{
    width: auto !important;
}
.nav-products li.active{
    width: 160px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
}
.nav-products > li.active > a, .nav-products > li.active > a:hover, .nav-products > li.active > a:focus{
    color: #fff;
    cursor: default;
    background-color: #dd6a80;
    border: 1px solid #dd6a80;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    outline: none;
    margin: 0;
}
.detail-product__tab li:nth-child(2), .detail-product__tab li:nth-child(3) {
    display: none;
}
#tab-2, #tab-3{
    display: none;
}
.relationProduct .price{
    border-bottom: none;
}

.relationProduct {
    margin: 50px 0;
}
.relationProduct>h3 {
    margin: 0 0 30px;
    border-bottom: 1px solid #CCC;
    text-align: center;
}
.relationProduct>h3 span {
    border-bottom: 2px solid #000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
}
/****** Checkout *******/
.checkout{
    margin: 30px 0;
}
.checkout>form{
    display: inline-block;
    width: 100%;
}
.checkout>form>div>span>strong{
    font-family: 'AvantGardeBold';
}
.checkout .titleHome{
    text-align: left;
}
.checkout .col-md-7 form div label{
    display: block;
}
.checkout .col-md-7 form div input{
    padding: 6px 10px;
    width: 250px;
}
.checkout>form>.col-md-6>p{
    border-bottom: 1px solid #CCC;
    padding: 0 0 5px 0;
    margin: 10px 0;
}
.checkout>form>.col-md-6>p>span{
    text-transform: uppercase;
    font-size: 16px;
    /*width: 36px;*/
    /*height: 36px;*/
    /*display: inline-block;*/
    /*border-radius: 50%;*/
    /*border: 1px solid #CCC;*/
    /*text-align: center;*/
    /*line-height: 34px;*/
    /*color: #999;*/
}
.checkout>form>.col-md-6 >div{
    margin: 10px 0 0 0;
}
.checkout>form>.col-md-6 div>label{
    display: block;
    font-weight: 400;
}
.checkout>form>.col-md-6 div>input{
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.checkout>form>.col-md-6 div>textarea{
    width: 100%;
    border: 1px solid #ccc;
    height: 60px;
    padding: 5px 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.checkout>form>.col-md-6 div>input[type=submit]{
    background: #815e53;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.checkout>form>.col-md-6 div>input[type=submit]:hover{
    background: #f4afab;
    color: #815e53;
}
.checkout>form>.col-md-6 div>input[type=submit]:focus{
    outline: none;
    background: #f4afab;
    border: none;
}
.checkout>form>.col-md-6 div>input:focus, .checkout>form>.col-md-6 div>textarea:focus{
    outline: none;
    border: 1px solid #3DC3E0;
}
.checkout>form>.col-md-6 ul li{
    border-bottom: 1px solid #DDD;
    margin: 0 0 10px 0;
}
.checkout>form>.col-md-6 ul li a{
    color: #333;
    font-size: 14px;
    margin: 0 0 10px 0;
    display: block;
    text-transform: uppercase;
}
.checkout>form>.col-md-6 ul li a span{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    background: #B3B3B3;
    color: #FFF;
    overflow: hidden;
    position: relative;
    top: 2px;
    margin: 0 0;
}
.checkout>form>.col-md-6 ul li a span.colorAttr{
    text-indent: -1500px;
    margin: 0 0 0 5px;
}
