@media only screen and (min-width:300px) and (max-width: 640px) {
    .container{
        padding: 0 30px;
    }
    .head-one__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .head__user--inner{
        justify-content: center;
    }
    .head-two__inner{
        justify-content: center;
        flex-direction: column;
        margin: 0 0 10px;
    }
    .head-two .logo{
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .navHome{
        display: none;
    }
    #menuMobile{
        display: block;
    }
    .head__user{
        width: 100%;
        margin: 10px 0;
    }
    .banner-image::before{
        padding-top: 56.25%;
    }
    .small-banner{
        display: none;
    }
    .service__inner {
        flex-direction: column;
    }
    .service__row {
        margin: 0 0 15px;
        flex: 1 0 auto;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .service__right{
        margin-top: 15px;
    }
    .feature-product__list {
        flex-wrap: wrap;
        margin: 0;
    }
    .feature-product__list li {
        width: 50%;
        margin: 0;
    }
    /******* View Product *********/
    .product-detail{
        width:100%;
    }
    .product-detail__description{
        width: 100%;
        margin: 15px 0 0;
    }
    #imgZoom{
        display: none;
    }
    .descriptionProduct{
        width: 100%;
        margin: 15px 0 0;
        float: none;
    }
    #product{
        display: block !important;
        margin: 0 0 10px 0;
    }
    #product .owl-controls .owl-pagination span{
        height: 1px;
    }

    .cart table tr:first-child{
        display: none;
    }
    .cart table tr{
        width: 100%;
    }
    .cart table tr td:nth-child(1), .cart table tr td:nth-child(3),.cart table tr td:nth-child(4){
        display: none;
    }
    .cart table tr:last-child td:nth-child(1){
        display: block;
    }
    .cart h1{
        text-align: center;
    }
    .checkout>form>.col-md-6:nth-child(2){
        margin: 20px 0 0 0;
    }

    .hero__image:after {
        padding-top: 40%;
    }

    /******** News  **********/
    .navNews li {
        margin: 0 8px;
    }
    .lN {
        margin: 15px 0;
    }
    .lN li {
        padding: 0;
        width: 100%;
        float: none;
        margin: 0 0 30px 0;
        height: initial;
    }
    .lNCategory li{
        flex-direction: column;
    }
    .lNCategory li a{
        width: 100%;
    }
    .lNCategory li .article__content{
        width: 100%;
        padding: 15px 0 0;
    }
    .lNCategory{
        margin: 0;
        padding: 30px 0;
    }
    .detailNews {
        width: 100%;
    }
    .sidebar{
        padding: 45px 0;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li input{
        width: 100%;
    }
    .signup ul li label {
        margin: 0 0 5px 0;
    }
    .signup > form > ul{
        width: 100%;
    }
    .signup li.btns label{
        width: 0;
    }
    .signup li.btns{
        text-align: center;
    }
    .feature2 .w40{
        width: 100%;
    }
    .feature2 .w60 {
        width: 100%;
    }
    .feature2 {
        margin: 15px 0 0;
    }
    .banner-image10, .banner-image5 {
        margin: 0 0 15px;
    }
    .feature2 figure div h3 {
        font-size: 26px;
    }
    .banner-image5:before {
        padding-top: 50%;
    }
    .head2 .row {
        position: relative;
    }
    .head2 .row .col-md-6 {
        position: initial;
    }
    .detailProduct {
        display: block;
    }
    .four-banner__row:nth-child(2) .four-banner__image--50:nth-child(1){
        margin: 0;
    }
    .four-banner__row:nth-child(1){
        margin-bottom: 15px;
    }
    .four-banner__row:nth-child(2) a:nth-child(1) .four-banner__image--50::before{
        margin-bottom: 15px;
    }
    .four-banner__row:last-child{
        margin-bottom: 0;
    }

    /***********intro********/
    .intro__box{
        width: 100%;
    }
    /**********Feature-product*********/
    .feature-product__inner{
        flex-direction: column;
    }
    .feature-product__left, .feature-product__right{
        width: 100%;
    }

    /*****************Product**********/
    .product__list li{
        width: 100%;
    }
    .lPC{
        margin: 7.5px -7.5px;
    }
    .lPC li{
        width: 50%;
        padding: 7.5px;
    }
    .lPC h3{
        font-size: 16px;
    }
    /**********Footer********/
    .footer__one--list{
        flex-direction: column;
    }
    .footer__one--list > li{
        width: 100%;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .banner-image::before{
        padding-top: 56.25%;
    }
    .banner-image > div p{
        font-size: 40px;
    }
    #zoomer{
        width: 300px;
    }
    #imgZoom{
        display: flex;
    }
    .lN li {
        padding: 15px;
        width: 50%;
        height: initial;
    }
    .feature-product__list li {
        width: 50%;
        margin: 0;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){
    .banner-image > div p{
        font-size: 50px;
    }
    #zoomer{
        width: 300px;
    }
    #imgZoom{
        display: flex;
    }
    .lN li {
        padding: 15px;
        width: 50%;
        height: initial;
    }
    .feature-product__list li {
        width: 50%;
        margin: 0;
    }
}
@media only screen and (min-width:800px) and (max-width:900px){
    #zoomer{
        width: 300px;
    }
    #imgZoom{
        display: flex;
    }
    .lN li {
        padding: 15px;
        width: 50%;
        height: initial;
    }
    .feature-product__list li {
        width: 25%;
        margin: 0;
    }
}

@media only screen and (min-width:900px) and (max-width:1024px){
}
@media only screen and (min-width:1024px) and (max-width:1200px){

}

@media only screen and (min-width:640px) and (max-width:1024px){

}
@media only screen and (min-width:1024px) and (max-width:1200px) {

}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}