@media only screen and (min-width:300px) and (max-width: 640px) {
    .head {
        /*margin: 0 0 15px;*/
    }
    .head1{
        flex-wrap: wrap;
    }
    .head1__social {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5px;
    }
    .head1__user {
        text-align: center;
        margin: 0 0 5px;
        width: 100%;
    }
    .logo {
        margin: 30px 0;
    }
    .formSearch{
        display: none;
    }
    .head .container {
        width: 100%;
    }
    .head .container .row>div.col-sm-2{
        width: 26%;
    }
    .head .container .row>div.col-sm-5{
        width: 37%;
    }
    .head .container .row>div.col-sm-5:nth-child(1) {
        position: initial;
    }
    .navTool {
        position: inherit;
        top: 0;
        left: 0;
        text-align: center;
    }
    .navTool>div.user {
        display: none;
    }
    form#search {
        /*width: 100%;
        margin: 0 30px;*/
    }
    form#search input {
        width: 100%;
    }
    .navHome{
        margin: 15px 0;
        display: none;
    }
    ul.cart>li>a {
        width: 13px;
        display: inline-block;
        height: 30px;
        overflow: hidden;
    }
    #searchMobile{
        display: block;
    }
    .head2 .col-md-8>div{
        text-align: center;
    }
    .head2 .col-md-8>div>a{
        float: none;
        display: inline-block;
    }
    .head2 .col-md-8>div>a:nth-child(2){
        border-right: none;
        padding: 0 0 0 5px;
    }
    .head2 .col-md-8>div>a:first-child{
        padding: 0 5px 0 0;
    }
    .logo img{
        max-width: 100%;
    }
    .banner-image>div>h2 {
        font-size: 28px;
        margin: 0 0 10px;
    }
    .banner-image>div>h2:after {
        margin: 10px auto 5px;
    }
    .banner-image>div>a {
        margin: 5px 0 0;
        padding: 8px 25px;
    }
    .banner-image>div>p{
        font-size: 4vw;
    }
    .banner-image:before{
        padding-top: 56.25%;
    }
    #searchMobile{
        position: relative;
        margin: 10px 0 0 0;
    }
    #searchMobile input[type=text]{
        border: 1px solid #111;
        padding: 0 0;
        text-indent: 10px;
        height: 32px;
        background: #FFF;
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 0;
        width: 99.5%;
    }
    #searchMobile input[type=text]:focus{
        outline: none;
    }
    .feature2>div>div>img{
        width: 100%;
    }
    .feature2>div.col-md-4>div:nth-child(1){
        margin: 15px 0 0 0;
    }
    .feature2>div.col-md-4>div:nth-child(2){
        margin: 15px 0;
    }
    .feature2>div>div>div>h2{
        font-size: 30px;
    }
    .feature2>div>div>div>p{
        font-size: 17px;
    }
    .feature2>div>div>div>a{
        width: 130px;
        font-size: 13px;
    }
    #menuMobile{
        display: inline-block;
        width: 40px;
        padding: 10px 10px;
        color: #333;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }
    .navHome.open{
        display: block;
        position: absolute;
        z-index: 20;
        margin: 0 0;
        left: 0;
        right: 0;
        padding: 5px 0;
        background: #fff;
        top: 70px;
        border-bottom: 2px solid #333;
    }
    .navHome ul ul {
        padding: 15px 0 0;
        position: inherit;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        width: 100%;
    }
    .navHome ul ul li {
        padding: 5px 20px;
    }
    .navHome ul li:hover ul {
        top: 0;
    }
    .navHome.open ul{
        text-align: left;
    }
    .navHome.open ul li{
        display: block;
    }
    .navHome>ul>li {
        margin: 0;
        padding: 10px 20px;
    }
    #product{
        display: block !important;
    }
    #banner .owl-controls .owl-buttons>div{
        display: none !important;
    }
    .three-up__list li {
        margin: 0 0 15px;
        width: 100%;
        padding: 0;
    }
    .three-up__list {
        flex-wrap: wrap;
        margin: 30px 0;
    }
    .two-up__inner {
        flex-direction: column;
    }
    .two-up__left, .two-up__right {
        width: 100%;
    }
    .two-up__product {
        padding: 0 30px;
    }
    .two-up__product-title1 {
        text-align: center;
        font-size: 20px;
    }
    .two-up--2 .two-up__right {
        order: 1;
    }
    .two-up--2 .two-up__left {
        order: 2;
    }
    .feature-product__title {
        font-size: 20px;
    }
    .feature-product__inner {
    }
    .feature-product__list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
        display: flex;
    }
    .feature-product__list .two-up__product-item {
        margin: 0 0 15px;
        width: 50%;
        padding: 0 10px;
    }
    .service__inner {
        flex-wrap: wrap;
        margin: 0 15px;
    }
    .service__item {
        padding: 60px 0;
        margin: 0 0 15px;
        width: 100%;
    }
    .lPC .two-up__product-item {
        width: 50%;
    }
    /********** Footer ************/
    ul.f1>li{
        border-right: none;
        height: inherit;
    }
    ul.f1>li, ul.f2>li{
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
        padding: 0 0
    }
    ul.f1>li>form>input[type=text]{
        width: 183px;
    }
    .footer__contact {
        padding: 20px 0;
    }
    /****** Category *********/
    .lPC{
        margin-right: 0;
    }

    .lPC li{
        width: 50%;
        padding: 0 0 0 15px;
        margin-bottom: 15px;
    }
    .three-feature__item h2{
        font-size: 4vw;
    }
    .category-inner{
        flex-wrap: wrap;
    }
    .category-inner .left{
        flex: 1 0 100%;
        padding: 0;
    }
    .category-inner .right{
        flex: 1 0 100%;
    }
    /******* View Product *********/
    .product-detail{
        width: 100%;
    }
    .product-detail__description{
        width: 100%;
        margin: 15px 0;
    }
    #imgZoom{
        display: none;
    }
    .descriptionProduct{
        width: 100%;
        margin: 20px 0;
        float: none;
    }
    #product{
        display: block !important;
        margin: 0 0 10px 0;
    }
    #product .owl-controls .owl-pagination span{
        height: 1px;
    }

    .cart table tr:first-child{
        display: none;
    }
    .cart table tr{
        width: 100%;
    }
    .cart table tr td:nth-child(1), .cart table tr td:nth-child(3),.cart table tr td:nth-child(4){
        display: none;
    }
    .cart table tr:last-child td:nth-child(1){
        display: block;
    }
    .cart h1{
        text-align: center;
    }
    .checkout>form>.col-md-6:nth-child(2){
        margin: 20px 0 0 0;
    }

    .hero__image:after {
        padding-top: 40%;
    }
    .hero-product__image::before{
        padding-top: 33%;
    }
    ul.lP{
        margin-right: 0;
    }
    ul.lP li{
        width: 50%;
        padding: 0 0 0 15px;
        margin-bottom: 15px;
    }
    .tab-product__title{
        width: 100%;
        flex-direction: row;
    }
    .tab-product__content{
        width: 100%;
        padding: 0 15px;
    }
    .tab-product__wrapper{
        flex-direction: column;
    }
    /******** News  **********/
    .page-title{
        margin: 60px 15px 30px;
    }
    .navNews li {
        margin: 0 8px;
    }
    .lNCategory{
        margin: 15px;
    }
    .lNCategory li{
        width: 100%;
        flex-direction: column;
    }
    .lNCategory li a{
        width: 100%;
    }
    .article__content{
        width: 100%;
        padding: 15px 0 0;
    }
    ul.lN {
        margin: 15px 0;
    }
    ul.lN li {
        padding: 0;
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
        height: initial;
    }
    .paginatorProduct{
        margin: 15px;
    }
    .sidebar form{
        margin: 0 !important;
    }
    .detailNews {
        width: 100%;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li input{
        width: 100%;
    }
    .signup ul li label {
        margin: 0px 0 5px 0;
    }
    .signup > form > ul{
        width: 100%;
    }
    .signup li.btns label{
        width: 0;
    }
    .signup li.btns{
        text-align: center;
    }
    .feature2 .w40{
        width: 100%;
    }
    .feature2 .w60 {
        width: 100%;
    }
    .feature2 {
        margin: 15px 0 0;
    }
    .banner-image10, .banner-image5 {
        margin: 0 0 15px;
    }
    .small-banner{
        display: none;
    }
    .feature2 figure div h3 {
        font-size: 26px;
    }
    .banner-image5:before {
        padding-top: 50%;
    }
    .head2 .row {
        position: relative;
    }
    .head2 .row .col-md-6 {
        position: initial;
    }
    .detailProduct {
        display: block;
        width: 100%;
    }
    .product-single-hero {
        padding: 50px 20px;
        text-align: center;
    }
    .relationProduct{
        width: 100%;
    }
    .news__item{
        width: 100%;
    }
    .head1__social ul{
        flex-wrap: wrap;
    }
    .owl-carousel .owl-nav .owl-next:before {
        content: '\e606';
        font-family: 'simple-line-icons';
        font-size: 16px;
    }
    .owl-carousel .owl-nav .owl-prev:before {
        content: '\e605';
        font-family: 'simple-line-icons';
        font-size: 16px;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
    .head2 .container {
        width: 100%;
    }
    .footer__contact {
        padding: 0;
    }
    #zoomSlide{
        width: 20%;
    }
    #zoomer{
        width: 75%;
        margin: 0;
    }
    .imgZoom{
        display: flex;
    }
    .product-new__item{
        width: 33.33%;
    }
    .feature-product__list .two-up__product-item{
        width: 33.33%;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){
    .descriptionProduct {
        width: 38%;
        margin: 0 0 0 3%;
    }
    .head2 .container {
        width: 100%;
    }
    .footer__contact {
        padding: 0;
    }
    #zoomSlide{
        width: 20%;
    }
    #zoomer{
        width: 75%;
        margin: 0;
    }
    .imgZoom{
        display: flex;
    }
    .feature-product__list .two-up__product-item{
        width: 33.33%;
    }
}
@media only screen and (min-width:800px) and (max-width:900px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
    #zoomSlide{
        width: 20%;
    }
    #zoomer{
        width: 75%;
        margin: 0;
    }
    .imgZoom{
        display: flex;
    }
    .feature-product__list .two-up__product-item{
        width: 25%;
    }
}
@media only screen and (min-width:900px) and (max-width:1024px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
    #zoomSlide{
        width: 20%;
    }
    #zoomer{
        width: 75%;
        margin: 0;
    }
    .imgZoom{
        display: flex;
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
    #zoomSlide{
        width: 20%;
    }
    #zoomer{
        width: 75%;
        margin: 0;
    }
    .imgZoom{
        display: flex;
    }
}

@media only screen and (min-width:640px) and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .head1 .col-md-3{
    }
    .head1 .col-md-6:nth-child(1){
        width: 60%;
        float: left;
    }
    .head1 .col-md-6:nth-child(2) {
        width: 40%;
        float: left;
    }
    .head2 .col-md-3:nth-child(1){
        width: 20%;
    }
    .head2 .col-md-6:nth-child(2){
        width: 80%;
    }

    .head2 .col-md-3:nth-child(3){
        display: none;
    }
    .head .col-md-12{
        display: inline-block;
        width: 100%;
    }

    ul.f1>li>form>input[type=text]{
        width: 50%;
    }

}
@media only screen and (min-width:1024px) and (max-width:1200px) {

}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}