@media only screen and (min-width:300px) and (max-width: 640px) {
    .container {
        padding: 0 30px;
    }
    .head1__social {
    }
    .head1__user {
        text-align: center;
        margin: 10px 0 5px;
    }
    .breadcrumb{
        text-align: center;
    }
    .head1 .col-sm-6 {
        width: 50%;
    }
    .head1 .row {
        align-items: center;
        display: flex;
    }
    .logo {
        margin: 10px 0;
    }
    .banner-image>div>div {
        width: 80%;
    }
    .banner-image>div p {
        font-size: 26px;
    }
    .formSearch{
        display: none;
    }
    .head .container {
        width: 100%;
    }
    .head .container .row>div.col-sm-2{
        width: 26%;
    }
    .head .container .row>div.col-sm-5{
        width: 37%;
    }
    .head .container .row>div.col-sm-5:nth-child(1) {
        position: initial;
    }
    .head>.container .col-sm-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navTool {
        margin: 0 0 0 15px;
        position: inherit;
        top: 0;
        left: 0;
        text-align: center;
        display: inline-block;
    }
    .banner-image>div h2 {
        font-size: 30px;
    }
    .banner-image>div p {
        margin: 0 0 10px;
    }
    .banner-image>div a {
        letter-spacing: 3px;
        display: inline-block;
        padding: 9px 35px;
        left: 0;
        right: 0;
        width: 100px;
        margin: auto;
        bottom: -25px;
    }
    .five-up__inner {
        flex-direction: column;
    }
    .five-up__four-inner{
        height: auto;
    }
    .five-up__left, .five-up__right {
        width: 100%;
    }
    .five-up__item {
        padding: 30px;
        width: 100%;
        border-bottom: 1px solid #ececec;
    }
    .five-up__item:nth-child(1), .five-up__item:nth-child(3) {
        border-right: none;
    }
    .four-up__list {
        flex-direction: column;
    }
    .four-up__list li {
        margin: 0 0 15px;
        width: 100%;
    }
    .navTool>div.user {
        display: none;
    }
    .sidebar form{
        margin: 30px 0 0 !important;
    }
    form#search {
        width: 100%;
        margin: 0 30px;
    }
    form#search input {
        width: 100%;
    }
    .navHome{
        display: none;
    }
    ul.cart>li>a {
        width: 13px;
        display: inline-block;
        height: 30px;
        overflow: hidden;
    }
    #searchMobile{
        display: block;
    }
    .head2 .col-md-8>div{
        text-align: center;
    }
    .head2 .col-md-8>div>a{
        float: none;
        display: inline-block;
    }
    .head2 .col-md-8>div>a:nth-child(2){
        border-right: none;
        padding: 0 0 0 5px;
    }
    .head2 .col-md-8>div>a:first-child{
        padding: 0 5px 0 0;
    }
    .logo img{
        max-width: 100%;
    }
    .banner-image>div>h2 {
        font-size: 30px;
        margin: 0 0 10px;
    }
    .banner-image>div>h2:after {
        margin: 10px auto 5px;
    }
    .banner-image>div>a {
        margin: 5px 0 0;
        padding: 8px 25px;
    }
    #searchMobile{
        position: relative;
        margin: 10px 0 0 0;
    }
    #searchMobile input[type=text]{
        border: 1px solid #111;
        padding: 0 0;
        text-indent: 10px;
        height: 32px;
        background: #FFF;
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 0;
        width: 99.5%;
    }
    #searchMobile input[type=text]:focus{
        outline: none;
    }
    .feature2>div>div>img{
        width: 100%;
    }
    .feature2>div.col-md-4>div:nth-child(1){
        margin: 15px 0 0 0;
    }
    .feature2>div.col-md-4>div:nth-child(2){
        margin: 15px 0;
    }
    .feature2>div>div>div>h2{
        font-size: 30px;
    }
    .feature2>div>div>div>p{
        font-size: 17px;
    }
    .feature2>div>div>div>a{
        width: 130px;
        font-size: 13px;
    }
    #menuMobile{
        display: block;
    }
    #product{
        display: block !important;
    }
    #banner .owl-controls .owl-buttons>div{
        display: none !important;
    }
    .banner-image:before {
        padding-top: 60%;
    }
    .banner-image>div h2:before {
        margin: 0 auto 5px;
    }
    .three-up {
        display: none;
    }
    .three-up__inner {
        flex-direction: column;
    }
    .three-up__col {
        margin: 0 0;
        width: 100%;
    }

    .three-up__list li {
        margin: 0 0 70px;
        width: 100%;
        padding: 0;
    }
    .three-up__list {
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .open-hours__inner {
        flex-direction: column;
        margin: 50px 0 0;
    }
    .open-hours__left {
        margin: 0 0 15px 0;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .open-hours__left ul {
        text-align: center;
    }
    .open-hours__left a {
        display: block;
        margin: 30px auto;
    }
    .open-hours__right-inner {
        flex-direction: column;
    }
    .open-hours__right, .open-hours__right-one, .open-hours__right-two {
        width: 100%;
    }
    .open-hours__right-two {
        padding: 30px;
        position: inherit;
    }

    .two-banner__inner {
        margin: 30px 0 0;
        flex-direction: column;
    }
    .two-banner__item {
        margin: 0 0 15px;
        width: 100%;
    }
    .two-up__inner {
        flex-direction: column;
    }
    .two-up__left, .two-up__right {
        width: 100%;
    }
    .two-up__product {
        padding: 0 30px;
    }
    .two-up__product-title1 {
        text-align: center;
        font-size: 20px;
    }
    .two-up--2 .two-up__right {
        order: 1;
    }
    .two-up--2 .two-up__left {
        order: 2;
    }
    .feature-product__title {
        font-size: 20px;
    }
    .feature-product__inner {
    }
    .feature-product__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .feature-product__list li {
        width: 50%;
    }
    .service__inner {
        padding: 0 30px;
        width: auto;
        flex-wrap: wrap;
        margin: 0 15px;
        flex-direction: column;
    }
    .service__item {
        padding: 20px 0;
        margin: 0 0 15px;
        width: 100%;
        flex: 1 0 100%;
    }
    .one-post:before {
        padding-top: 50%;
    }
    .lPC .two-up__product-item {
        width: 50%;
    }
    .client-say__inner {
        flex-direction: column;
    }
    .client-say__item {
        margin: 0 0 15px 0;
        width: 100%;
    }
    /********** Footer ************/
    ul.f1>li{
        border-right: none;
        height: inherit;
    }
    ul.f1>li, ul.f2>li{
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
        padding: 0 0
    }
    ul.f1>li>form>input[type=text]{
        width: 183px;
    }
    .footer__contact {
        padding: 20px 0;
    }
    /****** Category *********/

    /******* View Product *********/
    #imgZoom{
        display: none;
    }
    .product-detail__description{
        width: 100%;
        margin: 30px 0 0;
        float: none;
    }
    #product{
        display: block !important;
        margin: 0 0 10px 0;
    }
    #product .owl-controls .owl-pagination span{
        height: 1px;
    }
    .product-detail{
        width: 100%;
    }
    .cart table tr:first-child{
        display: none;
    }
    .cart table tr{
        width: 100%;
    }
    .cart table tr td:nth-child(1), .cart table tr td:nth-child(3),.cart table tr td:nth-child(4){
        display: none;
    }
    .cart table tr:last-child td:nth-child(1){
        display: block;
    }
    .cart h1{
        text-align: center;
    }
    .checkout>form>.col-md-6:nth-child(2){
        margin: 20px 0 0 0;
    }

    .hero__image:after {
        padding-top: 40%;
    }
    .descriptionProduct{
        width: 100%;
        margin: 30px 0 0;
    }
    #product .owl-nav i{
        display: none;
    }
    /******** News  **********/
    .navNews li {
        margin: 0 8px;
    }
    .lNCategory li{
        flex-direction: column;
    }
    .lNCategory li > a{
        width: 100%;
    }
    .lNCategory li .article__content{
        width: 100%;
        padding: 15px 0;
    }
    .lN {
        margin: 15px 0;
    }
    .lN li {
        padding: 0;
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
        height: initial;
    }
    .sidebar{
        padding: 0;
    }
    .detailNews {
        width: 100%;
        padding: 0 15px;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li input{
        width: 100%;
    }
    .signup ul li label {
        margin: 0 0 5px 0;
    }
    .signup > form > ul{
        width: 100%;
    }
    .signup li.btns label{
        width: 0;
    }
    .signup li.btns{
        text-align: center;
    }
    .feature2 .w40{
        width: 100%;
    }
    .feature2 .w60 {
        width: 100%;
    }
    .feature2 {
        margin: 15px 0 0;
    }
    .banner-image10, .banner-image5 {
        margin: 0 0 15px;
    }
    .feature2 figure div h3 {
        font-size: 26px;
    }
    .banner-image5:before {
        padding-top: 50%;
    }
    .head2 .row {
        position: relative;
    }
    .head2 .row .col-md-6 {
        position: initial;
    }
    .detailProduct {
        display: block;
    }
    .product-single-hero {
        padding: 80px 0;
        text-align: center;
    }
    .product-single-hero h3 {
        font-size: 22px;
        max-width: 80%;
        line-height: 30px;
    }
    .detailNews > div > h1{
        font-size: 30px;
    }
    .hero-product__image:before {
        padding-top: 40%;
    }
    .title{
        font-size: 22px;
    }
    .backToTop{
        padding: 10px 15px;
    }
    .one-post__content a{
        padding: 10px 20px;
    }
    .footer__list > li{
        width: 100%;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .head2 .container {
        width: 100%;
    }
    .five-up__inner{
        flex-wrap: wrap;
    }
    .five-up__left{
        width: 100%;
    }
    .five-up__right{
        width: 100%;
    }
    .five-up__image::before{
        padding-top: 30%;
    }
    .open-hours__right-two h3{
        font-size: 22px;
    }
    .three-up__item > a > div p{
        font-size: 13px;
        margin: 0 0 10px;
    }
    .three-up__item > a > div h3{
        font-size: 18px;
    }
    #zoomer{
        width: auto;
    }
    .sidebar{
        padding: 0;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){

    .head2 .container {
        width: 100%;
    }
    .five-up__inner{
        flex-wrap: wrap;
    }
    .five-up__left{
        width: 100%;
    }
    .five-up__right{
        width: 100%;
    }
    .five-up__image::before{
        padding-top: 30%;
    }
    .open-hours__right-two h3{
        font-size: 22px;
    }
    .sidebar{
        padding: 0;
    }
}
@media only screen and (min-width:800px) and (max-width:900px){

    .five-up__inner{
        flex-wrap: wrap;
    }
    .five-up__left{
        width: 100%;
    }
    .five-up__right{
        width: 100%;
    }
    .five-up__image::before{
        padding-top: 30%;
    }
    .sidebar{
        padding: 0;
    }
}
@media only screen and (min-width:900px) and (max-width:1024px){

    .five-up__inner{
        flex-wrap: wrap;
    }
    .five-up__left{
        width: 100%;
    }
    .five-up__right{
        width: 100%;
    }
    .five-up__image::before{
        padding-top: 30%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){

}

@media only screen and (min-width:640px) and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .head1 .col-md-3{
    }
    .head1 .col-md-6:nth-child(1){
        width: 60%;
        float: left;
    }
    .head1 .col-md-6:nth-child(2) {
        width: 40%;
        float: left;
    }
    .head2 .col-md-3:nth-child(1){
        width: 20%;
    }
    .head2 .col-md-6:nth-child(2){
        width: 80%;
    }

    .head2 .col-md-3:nth-child(3){
        display: none;
    }
    .head .col-md-12{
        display: inline-block;
        width: 100%;
    }
    ul.lP li, ul.lP li:nth-child(4n+0){
        width: 32%;
        margin: 0 2% 10px 0;
        height: inherit;
    }
    ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
    ul.f1>li>form>input[type=text]{
        width: 50%;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }


}
@media only screen and (min-width:1024px) and (max-width:1200px) {
    ul.lP li {
        width: 227px;
        height: inherit;
        margin: 0 10px 10px 0;
    }
    ul.lP li:nth-child(4n+0) {
        margin: 0 0 10px 0;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}