.page-news{
    padding: 60px 0;
}
.single-news, .category-news {
    margin: 30px 0;
}
.single-news__content * {
    max-width: 100%;
    height: inherit !important;
}
.single-news__content p{
    line-height: 26px !important;
}
.single-news__detail {
    padding: 0 11px 0 0;
    background: #FFF;
    margin: 60px 0 0;
}
.single-news__title {
    margin: 0 0 10px;
    font-size: 28px;
}
.single-news__profile {
    color: #999;
    margin: 0 0 20px;
}
.single-news__profile span {
    margin: 0 15px 0 0;
}
.single-news__profile span i {
    margin: 0 5px 0 0;
}

.single-news__slider--image {
    background-position: top center;
    background-size: cover;
}
.single-news__slider--image:before {
    content: '';
    padding-top: 55.6%;
    display: block;
}
.single-news__slider {
    margin: 0 0 15px;
}


.sidebar {
    background: #FFF;
}
.sidebar a {
    color: #333;
}
.sidebar__title {
    margin: 0 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 3px solid #E9B73C;
}
.sidebar__title span {
    background-color: #E9B73C;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 8px 10px 6px;
    display: inline-block;
}
.sidebar__box {
    margin: 0 0 55px;
}
.sidebar__box:last-child {
    margin: 0;
}
.sidebar__box form input[type=text] {
    width: 100%;
    padding: 8px 10px;
    border: 3px solid #eaeaea;
}
.sidebar__box form input[type=text]:focus {
    outline: none;
}
.news__list-category li {
    padding: 8px 10px;
}
.news__list-category ul{
    display: none;
}
.news__list-category li:nth-child(even) {
    background-color: #efefef;
}
.news__list-category li i {
    width: 10px;
    height: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news__list-category li i:hover{
    color: #E9B73C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news__list-category li a {
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news__list-category li a:hover{
    color: rgb(21,161,177);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar__news li {
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
    display: flex;
}
.sidebar__news li:last-child {
    border-bottom: none;
}
.sidebar__news li  a {
    color: #111;
    font-size: 15px;
    line-height: 13px;
}
.sidebar__news li:hover a {
    color: rgb(21,161,177);
}
.sidebar__news li p {
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
}
.sidebar__image {
    background-position: top center;
    background-size: cover;
}
.sidebar__image:before{
    content: '';
    padding-top: 75%;
    display: block;
}
.sidebar__image {
    width: 80px;
    margin: 0 15px 0 0;
}
.single-news__relation--title {
    font-size: 18px;
    text-transform: uppercase;
}
.single-news__relation ul {
    margin: 20px 0 0;
}
.single-news__relation ul li {
    margin: 0 0 10px;
}
.single-news__relation ul i {
    margin: 0 5px 0 0;
}
.single-news__relation ul a {
    color: #333;
    font-size: 16px;
}

.contact__inner{
    padding: 0 0 60px;
}
/********* Category ******/
.category-news__inner {
    background: #FFF;
    padding: 10px 11px 0 0;
}
.news__item--inner {
    margin: 0 0 30px;
    padding: 0 0 30px;
    display: flex;
    border-bottom: 1px solid #e4e4e4;
}
.news__title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}
.category-news__date {
    color: #888;
    font-size: 12px;
}
.news__title a {
    color: #333;
}
.news__title a:hover{
    color: rgb(21,161,177);
}
.news__image {
    background-position: top center;
    background-size: cover;
    width: 220px;
    margin: 0 30px 0 0;
}
.news__image:before {
    content: '';
    padding-top: 75%;
    display: block;
}
.category-news__title {
    margin: 0 0 30px;
    padding: 0 0 10px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 20px;
    text-transform: uppercase;
}

/****** Paginator *******/

.paging-first, .paging-previous, .paging-next, .paging-last
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.news__paginator .paginator {
    margin: 30px 0 15px;
}
.paginator {
    display: flex;
    justify-content: center;
}
.paginator a {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 0 5px;
    color: #333;
    font-weight: 400;
}
.paginator a.currentPage, .paginator a:hover {
    background: #15A1B1;
    border: 1px solid #15A1B1;
    color: #FFF;
}
.paginator a.labelPage {
    display: none;
}
a.paging-next:after {
    content: "\f105";
}
a.paging-last:after {
    content: "\f101";
}
a.paging-first:after {
    content: "\f100";
}
a.paging-previous:after {
    content: "\f104";
}

/****contact****/
.contactForm .form-group button[type="submit"]{
    background: #15A1B1;
    color:#fff
}