@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/tp/T008/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/tp/T008/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/tp/T008/fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/tp/T008/fonts/Roboto-BoldItalic.ttf') format('truetype');
}
body{
    font-family: Arial,sans-serif;
    background: #FFF;
}
a:hover{
    text-decoration: none;
}
ul{
    padding: 0 0;
    margin: 0 0;
}
ul li{
    list-style: none;
}
.owl-carousel{
    /* Intervention Error */
    touch-action: none;
}

.head{
    background: #FFF;
    margin-right: 40px;
}
/*** Head1 ***/
.head1{
    background: #ff5722;
}
.head1__inner {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
}
.head1 h2{
    margin: 19px 0 0 0;
    font-size: 13px;
    color: #FFF;
}
.head1 h2 i{
    color: #ff5722;
}
.head1__inner--left{
    display: flex;
    background-color: #e11b1e;
    flex: 1;
}
.head1__logo{
  flex: 1 0 90px;
}
.head1__tel,
.head1__user{
    flex: 1;
}
.head1__formsearch{
    flex: 2 0 180px;
}
.head1__logo,
.head1__tel,
.head1__user,
.head1__formsearch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head1__tel a{
    color: white;
}
.head1__tel a img{
    height: 35px;
    width: 35px;
}
.head1__user{
    justify-content: flex-end;
}
.head1__inner--right{
    display: flex;
    flex: 2;
    max-height: 58px;
}
.head1__menu{
    display: flex;
}
.head1__menu > ul{
    background-color: #eee;
}
.head1__menu > ul > li{
    display: flex;
}
.head1__menu > ul > li > a{
    padding: 8px 5px;
    color: black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}
.head1__menu > ul > li > a:hover{
    background-color: #e11b1e;
    color: white;
}
.head1__menu > ul > li > a > figure{
    width: 20px;
    margin: auto auto 5px auto;
    background-size: cover;
}
.head1__menu > ul > li > a:hover > figure{
    filter: invert(100%);
}
.head1__menu > ul > li > a > figure:before{
    content: '';
    display: block;
    padding-top: 100%;
}

/*** RegisterLogin ***/
.RegisterLogin>li{
    display: inline-block;
    position: relative;
}
.RegisterLogin{
    color: white;
}
.RegisterLogin>li>a{
    color: #FFF;
    padding: 3px 5px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.RegisterLogin>li>a>i {
    margin: 0 5px 0 0;
}

.RegisterLogin>li>ul{
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 1;
    background: #FFF;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    text-align: left;
    padding: 5px 10px;
}

.RegisterLogin>li>ul>li>a{
    display: block;
    color: #2199CB;
    font-size: 13px;
    padding: 2px 0;
}

/*** Head3 ***/
.head3 {
    background-color: #ff5722;
}


/*** Head2 ***/
.head2{
    height: 40px;
    border-bottom: solid 1px #ebebeb;
}
.head2__inner{
    display: flex;
}
.mobile-nav.nav.navbar-nav{
    display: none;
}
.head2__left{
    flex: 1;
}
.head2__right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.head2__right > div{
    padding-left: 10px;
}
.head2__cart li{
    list-style: none;
}
.head2__favorite{
    display: flex;
    align-items: center;
}
.head2__favorite i:before{
    content: '';
    display: block;
    background: url('../img/yeuthich.png') no-repeat center center;
    background-size: contain;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.head2__favorite a{
    display: flex;
    color: #000;
}
.head2__favorite a:hover{
    color: #ff5722;
}
.head2__favorite a span{
    display: flex;
}
.right{
    flex: 1;
}
.logo{
    display: inline-block;
}
.logo img {
    max-height: 50px;
}
/*** Search **/
#search{
    flex: 1;
}
.search-box{
    position: relative;
}
#search input[type="text"]{
    border: none;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    color: #333;
    font-size: 12px;
}
#search input[type="text"]:focus{
    outline: none;
}
#search input[type="text"]::placeholder {
    font-size: 14px;
}
#search button{
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #ff5722;
    border: none;
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto",sans-serif;
}
#search>a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    height: 38px;
    cursor: pointer;
    color: #999;
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
#search>p{
    margin: 8px 0 -2px;
    font-size: 11px;
}
#search>p a{
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
#searchFolding {
    display: none;
    position: absolute;
    z-index: 2;
    background: #FFF;
    top: 50px;
    width: 100%;
    border: 2px solid #e4e4e4;
}
#searchFolding a {
    display: block;
    padding: 8px 10px;
    color: #666;
    font-style: italic;
    font-size: 12px;
}
#searchFolding a:nth-child(odd) {
    background-color: #f9f9f9;
}
.totalCart {
    display: flex;
    align-items: center;
    color: #FFF;
    position: relative;
    height: 100%;
}
.totalCart:hover {
    color: #FFF;
}
.totalCart div p {
    margin: 0 0;
    font-size: 13px;
}
.totalCart div p:first-child {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}
.totalCart i {
    margin: 0 100% 0 0;
    font-size: 20px;
    border: 2px solid #FFF;
    padding: 15px;
    color: #fff;
    position: relative;
}
.totalCart i:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/icon-cart.png");
    background-repeat: no-repeat ;
}
.totalCart span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -2px;
    right: -5px;
    border: solid 1px #ff5722;
    background: #fff;
    color: #ff5722;
    font-size: 11px;
    border-radius: 50%;
}

.toolTop {
    margin: 40px 0;
    display: flex;
    justify-content: flex-end;
}
.toolTop li {
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
    color: #333;
}
.toolTop li:first-child{
    margin-left: 0;
}
.toolTop li i {
    font-size: 30px;
    margin: 0 10px 0 0;
}
.toolTop li p {
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

/*** CategoryShip ***/
.CategoryShip{
    display: flex;
    align-items: center;
}

/*** category home ***/
.categoryHome{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    background: #ff5722;
}
.categoryHome>h2{
    margin: 0 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    width: 275px;
    justify-content: flex-start;
}
.categoryHome>h2>i{
    font-size: 18px;
    margin: 0 10px 0 0;
}
.categoryHome>h2>span {
    width: 20px;
    height: 20px;
    background: #ff5722;
    border-radius: 50%;
    margin: 0 0 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoryHome>h2>span:before {
    content: '';
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid #FFF;
}
/*** ShipOption ***/
.head__horizontal{
    float: left;
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__formsearch {
    width: 50%;
    margin: 0 0 0 40px;
}
.head__horizontal>ul {
    padding: 0 20px;
}
.head__horizontal>ul>li{
    padding: 17px 0;
    margin: 0 15px;
    display: inline-block;
    position: relative;
}
.head__horizontal>ul>li>a{
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    font-size: 14px;
}
.head__horizontal>ul>li>a i {
    margin: 0 5px 0 0;
}
.head__horizontal ul li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 54px;
}
.head__horizontal ul li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #FFF;
    top: 64px;
    width: 200px;
    z-index: 6;
    padding: 5px 0;
    left: -20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 2px #9a9a9a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.head__horizontal ul li ul li a {
    padding: 10px 15px;
    color: #333;
    font-size: 13px;
    display: block;
}
.head__horizontal ul li ul li a:hover {
    background-color: #e8e8e8;
}


/*** Nav ***/

.nav{
    display: flex;
    background: #FFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav li{
    position: relative;
    background-color: transparent;
}
.nav li li{
    background-color: #fff;
}
.nav > li{
    position: relative;
    border-bottom: 2px solid transparent;
}
.nav > li:hover{
    border-bottom: 2px solid #f53f2c;
}
.nav > li:hover a{
    color: #f53f2c;
}
.nav > li > a:hover{
    background-color: transparent;
}
.nav li > a{
    display: inline-block;
    color: black;
    padding: 8px 15px 8px 15px
}
.nav > li > ul > li:hover{
    background-color: #f53f2c;
}
.nav > li > ul > li:hover a{
    color: #fff;
}
.nav > li > ul.nav2{
    position: absolute;
    display: none;
    z-index: 2;
    border-top: 2px solid transparent;
    border-left: 1px solid #ebebeb;
}
.nav > li:hover > ul.nav2{
    display: block;
    top: 100%;
}
.nav > li > ul.nav2 li:first-child{
    border-top: 1px solid #ebebeb;
}
.nav > li > ul.nav2 li{
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.nav > li > ul.nav2 > li > a{
    white-space: nowrap;
    padding: 8px;
}
.NavBannerAds__nav {
    box-shadow: -1px 0 2px #DADADA;
}
.NavBannerAds__inner .sub-banner{
    display: flex;
    flex: 1;
}
.NavBannerAds__inner .sub-news{
    flex: 2;
}
.NavBannerAds__inner .sub-news > ul,
.NavBannerAds__inner .sub-news ul > li > a,
.NavBannerAds__inner .sub-banner > ul,
.NavBannerAds__inner .sub-banner ul > li,
.NavBannerAds__inner .sub-banner ul > li > a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.NavBannerAds__inner .sub-news ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.NavBannerAds__inner .sub-news ul > li .sub-news__img{
    flex: 1;
}
.NavBannerAds__inner .sub-news ul > li .sub-news__content{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.NavBannerAds__inner .sub-news ul > li:last-child > a
.NavBannerAds__inner .sub-banner ul > li:last-child > a{
    justify-content: end;
}
.NavBannerAds__inner .banner__right-column .sub-banner figure:before{
    content: '';
    display: block;
    padding-top: 44%;
}
.NavBannerAds__inner .banner__right-column .sub-news figure:before{
    content: '';
    display: block;
    padding-top: 60%;
}
.NavBannerAds__inner .banner__right-column .sub-news__details:first-child:last-child .sub-news figure:before{
    padding-top: 80%;
}
.NavBannerAds__inner .sub-banner figure{
    background: no-repeat center center;
    background-size: cover;
}
.NavBannerAds__inner .sub-news figure{
    background: no-repeat top center;
    background-size: cover;
}
.NavBannerAds__inner .sub-news .sub-news__header h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff5722;
    margin: 15px 0;
    cursor: default;
}
.NavBannerAds__inner .sub-news .sub-news__header a{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    text-transform: unset;
    color: #575454;
}
.NavBannerAds__inner .sub-news .sub-news__header a:hover{
    color: #ff5722;
}
.NavBannerAds__inner .sub-news .sub-news__title{
    flex: 1;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: black;
}
.NavBannerAds__inner .sub-news .sub-news__title:hover{
    color: #f53f2c;
}
.NavBannerAds__inner .sub-news .home-news__date{
    flex: 1;
    padding-top: 10px;
    color: #acacac;
}
.NavBannerAds__inner .sub-news .sub-news__details{
    padding: 10px 0;
}
.NavBannerAds__inner .sub-news .sub-news__details:first-child:not(:last-child){
    border-bottom: solid 1px #ebebeb;
}
.NavBannerAds__inner .sub-banner ul > li:not(:first-child){
    margin-top: 15px;
}
.NavBannerAds__inner .sub-banner li:first-child:last-child figure:before{
    padding-top: 35%;
}
.banner-custom-dots{
    padding: 7px;
    background-color: #000;
}
.banner-custom-dots .owl-stage .owl-item.active figure{
    opacity: 1;
}
.banner-custom-dots .owl-stage .owl-item.active{
    border: 2px solid transparent;
}
.banner-custom-dots .owl-stage .owl-item.active.current{
    border: 2px solid #f53f2c;
}
.tab-product__banner-list{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.tab-product__banner-list a{
    flex: 1;
}
.tab-product__banner-list a:first-child{
    padding-right: 5px;
}
.tab-product__banner-list a:last-child{
    padding-left: 5px;
}
.tab-product__banner-list a:first-child:last-child{
    padding: 0;
}
.tab-product__banner-list a:not(:first-child):not(:last-child){
    padding: 0 5px;
}
.tabProductSidebar{
    display: none;
}
.tabProductSidebar.active{
    display: initial;
}
.sidebar-home__tab-product-list .pI figure{
    position: relative;
}
.sidebar-home__tab-product-list .pI figure span{
    position: absolute;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.sidebar-home__tab-product-list .sidebar-home__item:first-child .pI figure span{
    background-color: #ff5722;
    color: #fff;
}
.sidebar-home__tab-product-list .sidebar-home__item:nth-child(2) .pI figure span{
    color: #1abc9c;
}
.sidebar-home__tab-product-list .sidebar-home__item:nth-child(3) .pI figure span{
    color: #f39c12;
}
.sidebar-home__tab-product-list .sidebar-home__item:nth-child(4) .pI figure span{
    color: #ffcc00;
}
.sidebar-home__tab-product-list .sidebar-home__item:nth-child(n+5) .pI figure span{
    color: #7a7a7a;
}
.sidebar-home__tab-product-list .sidebar-home__item:not(:first-child) .pI figure{
    height: 35px;
    width: 35px;
    display: flex;
}
.sidebar-home__banner a figure:before{
    padding-top: 45%;
}
.sidebar-home__banner a figure{
    width: 100%;
    background: no-repeat center top;
    background-size: cover; 
}
.banner__right-column{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.home .nav {
    opacity: 1;
    visibility: visible;
    box-shadow: none;
}
.nav > ul li{
    position: relative;
}
.nav li>button.pull-right{
    display: none;
}
.categoryHome:hover .nav {
    opacity: 1;
    visibility: visible;
}
.nav ul ul.nav2{
    opacity: 0;
    visibility: hidden;
}
.nav > ul > li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.nav>ul{
    position: relative;
}
.nav > ul > li{
    margin: 1px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.nav > ul > li:hover {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}
.nav > ul > li:hover > a {
    color: #ff5722;
}
.nav > ul > li > a{
    display: flex;
    color: #666;
    font-size: 13px;
    padding: 8px 15px;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav>ul>li>a>i{
    margin: 0px 10px 0 0;
    position: relative;
    top: 1px;
}
.icon-caret {
    right: 20px;
    position: absolute;
    top: 11px;
    bottom: 0;
    margin: auto;
}
.icon-caret:before, .icon-caret:after {
    position: absolute;
    content: "";
    display: block;
    height: 0;
    width: 0;
}

.icon-caret:before {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-left: 6px solid #CCC;
    border-top: 6px solid rgba(0,0,0,0);
}

.icon-caret:after {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 3px solid #FFF;
    border-top: 6px solid rgba(0,0,0,0);
}

.nav>ul>li>ul{
    position: absolute;
    right: -250px;
    width: 250px;
    min-height: 378px;
    top: -1px;
    background: #FFF;
    box-shadow: 1px 1px 2px #b3b3b3;
    padding: 15px;
    overflow-y: scroll;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav>ul>li>ul::-webkit-scrollbar {
    width: 3px;
}
.nav>ul>li>ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.nav>ul>li>ul>h3{
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0 8px 0;
    color: #333;
}
.nav>ul>li>ul li {
    margin: 10px 0;
}
.nav>ul>li>ul li a{
    font-size: 13px;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav>ul>li>ul li a:hover {
    color: #ff5722;
}

/** width200 **/
section{
    margin-top: 25px;
}
.main{
    margin-right: 40px;
}
.width200{
    width: 275px;
}
.NavBannerAds__inner {
    display: flex;
    flex-wrap: wrap;
}
.banner{
    width: 55vw;
    margin-right: 30px;
}
.NavBannerAds__inner .banner:last-child{
    width: 100%;
    margin-right: initial;
}
.NavBannerAds__inner .banner:last-child .banner-image:before{
    padding-top: 55%;
}
.banner-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.banner-image:before {
    content: '';
    padding-top: 43%;
    display: block;
}
.banner-custom-dots .banner-image:before {
    content: '';
    padding-top: 40%;
    display: block;
}

.banner-trai {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.banner-trai:before {
    content: '';
    padding-top: 85%;
    display: block;
}
.ADsRight {
    padding: 0 20px;
    border-right: 1px solid #DDD;
}
.ADsRight>h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    border-bottom: 1px solid #DDD;
    padding: 15px 0;
    margin: 5px 0 15px;
    display: block;
    font-weight: 600;
}
.ADsRight>h3:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #DDD;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -6px;
}
.ADsRight>h3:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #FFF;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -5px;
    z-index: 2;
}
.ADsRight ul{
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
}
.ADsRight ul li {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 20px;
}
.ADsRight ul li:before {
    content: "\f105";
    color: #CCC;
    vertical-align: top;
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    font-size: 14px;
    font-family: 'FontAwesome';
}
.ADsRight ul li i {
    margin: 0 15px 0 0;
    font-size: 30px;
    color: #999;
}
.ADsRight ul li h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

/****** product horizontal ********/
.product-horizontal {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.product-horizontal__item {
    display: flex;
    width: 33.333%;
    padding: 10px;
}
.product-horizontal__image-wrapper a {
    margin: 0 20px 0 0;
    display: inline-block;
    width: 120px;
}
.product-horizontal__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.product-horizontal__image:before {
    content: '';
    padding-top: 100%;
    display: block;
}
.product-horizontal__item-inner {
    border: 1px solid transparent;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-horizontal__item-inner:hover {
    border: 1px solid #e0e0dd;
    box-shadow: 0 5px 10px #dadada;
}
.product-horizontal__item-inner:hover .btnAddCart {
    background-color: #ff5722;
    border: 1px solid #ff5722;
    color: #FFF;
}
.product-horizontal__title {
    color: #333e48;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
}
.product__price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 0 0;
    position: relative;
    flex-wrap: wrap;
}
.product-horizontal__price {
    margin: 0;
    color: #ff5722;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex: 1;
    flex-wrap: wrap-reverse;
    height: 40px;
}
.product-horizontal__price i {
    color: rgba(0,0,0,0.54);
    white-space: nowrap;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-decoration: line-through;
    flex: 1;
}
.product-horizontal__price span {
    margin-right: 10px;
    white-space: nowrap;
}
.product-horizontal__price i:empty{
    text-decoration: none;
}
.product-horizontal__price i:empty:before {
    content: '\00a0';
}
.btnAddCart {
    display: none;
    background-color: #f53f2c;
    border: 1px solid #f53f2c;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-items: center;
    line-height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
    height: 30px;
    width: 30px;
}
.btnAddCart:hover {
    color: #fff;
}
.tab-product__item:hover .btnAddCart {
    display: flex;
}
/****** Product List  ********/
.home .product{
    margin-top: 35px;
}
.product-list {
    display: flex;
    margin: 0 -10px;
}
.product__item {
    margin: 0 10px 20px;
    flex: 1 0 20%;
}
.product__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__image:before {
    content: '';
    padding-top: 100%;
    display: block;
}
.product__price {
    margin: 15px 0 0;
    text-align: center;
    color: #ff5722;
    font-weight: 600;
}
.product__price i{
    margin: 0 0 0 10px;
    text-decoration: line-through;
    color: #999;
    font-weight: 400;
    font-style: normal;
}
.product__title {
    margin: 10px 15px;
    font-size: 13px;
    text-align: center;
}

/******** 3 banner giua **********/
.banner-two__image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.banner-two__image:before {
    content: '';
    padding-top: 200px;
    display: block;
}

.one-banner-center {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.one-banner-center:before {
    content: '';
    padding-top: 10%;
    display: block;
}

.slider-product {
    padding: 50px 0;
}
.slider-product__inner {
    display: flex;
    margin: 0 -20px;
}
.slider-product__row {
    width: 33.333%;
    padding: 0 20px;
}
.slider-product__item {
    margin: 0 0 15px 0;
}
.slider-product__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100px;
    margin: 0 20px 0 0;
}
.slider-product__image:before {
    content: '';
    padding-top: 100%;
    display: block;
}
.slider-product____item-inner {
    display: flex;
}
.slider-product__title--category {
    color: #333e48;
    border-bottom: 1px solid #DDD;
    font-size: 18px;
    padding: 0 0 8px 0;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.slider-product__title {
    color: #333e48;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
}
.slider-product__title a {
    color: #333e48;
}


/**** Banner *****/

#banner{
    padding: 0 0;
    position: relative;
}
#banner li{
    list-style: none;
}
#banner li img{
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
#banner li:hover img{
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -o-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}

#banner .owl-nav>div {
    position: absolute;
    top: 48%;
    width: 38px;
    height: 38px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#banner:hover .owl-nav>div {
    opacity: 1;
    visibility: visible;
}
#banner .owl-nav>div:hover {
    border: 2px solid #ff5722;
    background-color: #ff5722;
    color: #FFF;
}
#banner .owl-nav>div.owl-prev {
    left: 15px;
}
#banner .owl-nav>div.owl-prev i {
    margin: -2px 0 0 -2px;
}
#banner .owl-nav>div.owl-next {
    right: 15px;
}
#banner .owl-nav>div.owl-next i {
    margin: -2px -2px 0 0;
}

    /**** ProductOptionHomeContent ***/
.home .ProductOptionHome{
    margin-top: 35px;
}
.ProductOptionHomeContent{
    background: #FFF;
}
.NavProductOption{
    display: block;
    border-bottom: 1px solid #DDD;
}
.NavProductOption li{
    display: inline-block;
    margin: 0 15px 0 0;
}
.NavProductOption li a {
    margin: 0 0 -1px;
    padding: 13px 0;
    font-size: 15px;
    cursor: pointer;
    color: #999;
    display: block;
    border-bottom: 3px solid transparent;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.NavProductOption li a.active:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff5722;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.NavProductOption li a.active{
    border-bottom: 3px solid #ff5722;
    color: #ff5722;
}
.ProductOptionHomeContent .tab{
    margin: 20px 0 0;
    display: none;
}
.ProductOptionHomeContent .tab.active{
    display: block !important;
}
/********* Product ***********/
ul.lP{
    display: inline-block;
    width: 100%;
    /*margin: 0 0 15px 0;*/
    padding: 0 0;
    position: relative;
}
ul.lP li{
    width: 226px;
    float: left;
    display: inline-block;
    margin: 5px;
    border: 1px solid transparent;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.lP li:hover{
    border: 1px solid #ff5722;
}
ul.lP li a.pI{
    position: relative;
    width: 100%;
    height: 230px;
    display: block;
}
ul.lP li img{
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
ul.lP li p{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #ff5722;
}
ul.lP li p.oldPrice i{
    text-decoration: line-through;
    font-style: normal;
    color: #CCC;
    margin: 0 0 0 7px;
    font-weight: 400;
}
ul.lP li h2{
    margin: 0 10px 15px 10px;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
ul.lP li h2 a{
    color: #188bb8;
}
.lP .owl-controls{
    position: absolute;
    top: 40%;
    width: 100%;
}
.lP .owl-controls .owl-prev{
    position: absolute;
    left: 0;
    border-radius: 0 !important;
    padding: 7px 10px !important;
    background: #111 !important;
}
.lP .owl-controls .owl-next{
    position: absolute;
    right: 0;
    border-radius: 0 !important;
    padding: 7px 10px !important;
    background: #111 !important;
}
.lP .owl-controls .owl-next:hover, .lP .owl-controls .owl-prev:hover{
    opacity: 0.8 !important;
}

/***** ADsHome1 *******/
.banner-two {
    padding: 50px 0;
}
.banner-two__list {
    display: flex;
    margin: 0 -15px;
}
.banner-two__item {
    width: 50%;
    padding: 0 15px;
}
/**** tab-product__title *****/
.product-slider{
    margin-top: 30px;
    position: relative;
}
.product-slider .owl-nav{
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
}
.product-slider .owl-nav .owl-next,
.product-slider .owl-nav .owl-prev{
    background-color: #f53f2c;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
}
.product-slider .owl-nav .owl-next.disabled,
.product-slider .owl-nav .owl-prev.disabled{
    background-color: #ff5722;
    opacity: .5;
}
.tab-product__title {
    display: flex;
    justify-content: space-between;
    padding: 0;
    line-height: 40px;
    height: 40px;
}
.tab-product__title h2 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: inherit;
    border-bottom: 1px solid #337ab7;
}
.tab-product__title h2 a {
    color: #337ab7;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
}
.tab-product__title h2 a:hover {
    color: #f53f2c;
}
.tab-product__title ul {
    display: flex;
}
.tab-product__title ul li {
    padding: 0 30px;
    border-left: 1px solid #DDD;
}
.tab-product__title ul li:first-child {
    border-left: none;
}
.tab-product__title ul li a {
    color: #666;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.tab-product__title ul li a:hover {
    color: #ff5722;
}
.tab-product__list {
    display: flex;
    margin: 15px -7.5px;
    flex-wrap: wrap;
}
.ADsHome2 {
    margin: 30px 0 0;
}

.tab-product__inner {
    margin: 0;
}
.tab-product__list li{
    width: 25%;
    padding: 7.5px;
    display: flex;
}
.tab-product__item{
    margin: 0 0;
    width: 25%;
    padding: 0 10px;
    display: flex;
}
.product-slider .tab-product__item{
    width: 100%;
    padding: 0;
}
.productCategory .tab-product__item{
    margin: 0 0 20px;
    width: 20%;
}
.tab-product__item--inner {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tab-product__item--inner a{
    position: relative;
}
.tab-product__item--inner>a:before{
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}
.tab-product__item:hover .tab-product__item--inner a:before{
    z-index: 1;
}
.tab-product__item--title{
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.tab-product__item--title a{
    color: #000;
}
.sidebar-home {
    margin: 30px 0 0;
}
.sidebar-home__headline {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-home__headline  span{
    display: inline-block;
    padding: 10px 0;
    color: #337ab7;
    border-bottom: 1px solid #337ab7;
    margin-bottom: 15px;
}

.relationProduct .sidebar-home__headline {
    padding: 0 0 13px;
}

.sidebar-home__item--inner {
    display: flex;
}
.sidebar-home__tab-product-title{
    display: flex;
    margin-bottom: 15px;
}
.sidebar-home__tab-product-title li{
    flex: 1;
    height: 35px;
}
.sidebar-home__tab-product-title li a{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.sidebar-home__tab-product-title li a.active{
    background-color: #f53f2c;
    color: #fff;
}
.sidebar-home__tab-product-title li:first-child a{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.sidebar-home__tab-product-title li:last-child a{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.sidebar-home__image {
    width: 100px;
    margin: 0 15px 0 0;
}
.sidebar-home__item:not(:last-child) {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #DDD;
}
.sidebar-home__item:last-child {
    margin: 0 0 15px;
    padding: 0 0 15px;
}
.sidebar-home__image:before {
    content: '';
    padding-top: 100%;
    display: block;
}

.sidebar-home__title {
    margin: 0 0 5px 0;
    font-size: 14px;
}

.sidebar-home__title a {
    color: #333;
}
.sidebar-home__price-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar__content a:hover{
    color: #ff5722;
}

/***** categoryProductHome *******/


.image_category {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.image_category:before {
    content: '';
    padding-top: 136.1%;
    display: block;
}
.product__image--two:before {
    padding-top: 100%;
}
/******* c-h-3 *******/

/******** lP2 **********/

.lP2 li h2{
    margin: 0 0 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
}
.lP2 li h2 a{
    color: #333;
    font-size: 13px;
}
.lP2 li>a{
    display: block;
}
.lP2 li img{
    max-width: 100%;
}
.lP2 li>p{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #ff5722;
    margin: 15px 0 0 0;
}
.lP2 li>p i {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: 400;
    color: #999;
    text-decoration: line-through;
}

/******* News *********/
.home .home-news{
    margin-top: 35px;
}
.home-news .home-news__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px -15px;
}
.home-news .home-news__headline h2{
    color: #ff5722;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.home-news .home-news__item{
    display: flex;
    padding: 15px;
    width: 50%;
}
.home-news__image-wrapper{
    width: 40%;
    margin-right: 30px;
}
.home-news__description{
    width: 60%;
}
.home-news__image:before{
    content: '';
    display: block;
    padding-top: 70%;
}
.home-news__image{
    background: no-repeat center top;
    background-size: cover;
}
.home-news__title{
    line-height: 20px;
    margin: 0 0 10px;
}
.home-news__title a{
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}
/********** Footer *********/
.footer{
    margin-right: 40px;
}
.footer__category>li {
    width: 25%;
}
.footer__category>li>h4::first-letter {
    font-weight: 700;
    font-size: 13px;
    color: #ff5722;
}
.footer__title{
    color: #ff5722;
}
.footer__one{
    border-top: 10px solid #1f1f1f;
    background-color: #fff;
}
.footer__copyright a{
    color: #ff5722;
}
.footer__two .footer__category > li a{
    color: #666;
}
.footer__content>li>ul li a{
    color: #666;
}
.footer__two .footer__category>li>ul li a{
    color: #666;
}
.social a{
    color: #fff;
}
.footer__content{
    color: #666;
}
.footer__content--textarea{
    white-space: pre-line;
    margin-top: -15px;
    line-height: 1.6em;
}
.footer__content a{
    color: #666;
}
.footer__category {
}
.slide-right {
    position: fixed;
    right: -280px;
    height: 100%;
    top: 0;
    width: 320px;
    background: #f8f8f8;
    z-index: 1000;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.slide-right__js-open .slide-right {
    right: 0px;
}
.slide-right__inner {
    width: 40px;
    background: #000;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-right__content {
    height: 100%;
    padding: 0 0 0 40px;
}
.slide-right__close {
    margin: 0 0 auto 0;
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0;
    visibility: hidden;
}
.slide-right__js-open .slide-right__close {
    opacity: 1;
    visibility: visible;
}
.slide-right__inner a:hover {
    background-color: #ff5722;
}
.slide-right__cart {
    margin: 55px 0 0;
    padding: 10px 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
.slide-right__js-open .slide-right__cart {
    background-color: #ff5722;
}
.slide-right__cart span {
    padding: 0 5px;
    background-color: #FFF;
    border-radius: 3px;
    color: #111;
}
.slide-right__cart i {
    margin: 0 0 10px 0;
    display: block;
    font-size: 18px;
}
.slide-right__cart:hover {
    color: #FFF;
}
.slider-right__product--left {
    margin: 0 10px 0 0;
}
.slider-right__product--image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
}
.slider-right__product--image:before {
    content: '';
    padding-top: 100%;
    display: block;
}
.slider-right__product {
    padding: 10px 10px 0;
}
.slider-right__money {
    display: flex;
    padding: 15px 0 10px 0;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid #e1e1e8;
}
.slider-right__money p{
    flex: 1 0 100%;
}
.slider-right__money strong{
    color: #ff5722;
}
.slider-right__product>li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #e1e1e8;
}
.slider-right__product>li:last-child {
    margin: 0;
}
.slider-right__product>li>a {
    display: flex;
    color: #333;
}
.slider-right__product>li>a h3 {
    margin: 0;
    font-size: 13px;
}
.slider-right__product>li>a h3 p {
    margin: 3px 0 0;
}
.slider-right__product>li>a h3 p strong {
    color: #ff5722;
}
.slider-right__content--inner>h2 {
    margin: 0 0;
    background: #333;
    font-size: 11px;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
}
.slider-right__product .deleteCart {
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 15%;
    z-index: 20;
}

/****** small banner ******/
.home .small-banner{
}
.small-banner__list .small-banner__image:before{
    content: '';
    display: block;
}
.small-banner__list .small-banner__item .small-banner__image{
    background: no-repeat center center;
    background-size: contain;
}
.small-banner__list .small-banner__item .small-banner__image:before{
    padding-top: 50%;
}
.small-banner__list{
    display: flex;
    border: solid 1px #ebebeb;
}
.small-banner__list .small-banner__item{
    flex: 1;
}
.small-banner__list .small-banner__image{
    background: no-repeat center top;
    background-size: cover;
}

/* animation */

@-webkit-keyframes el-shaking {
 10% {
  -webkit-transform:translateX(3px) rotate(2deg);
  transform:translateX(3px) rotate(2deg)
 }
 20% {
  -webkit-transform:translateX(-3px) rotate(-2deg);
  transform:translateX(-3px) rotate(-2deg)
 }
 30% {
  -webkit-transform:translateX(3px) rotate(2deg);
  transform:translateX(3px) rotate(2deg)
 }
 40% {
  -webkit-transform:translateX(-3px) rotate(-2deg);
  transform:translateX(-3px) rotate(-2deg)
 }
 50% {
  -webkit-transform:translateX(2px) rotate(1deg);
  transform:translateX(2px) rotate(1deg)
 }
 60% {
  -webkit-transform:translateX(-2px) rotate(-1deg);
  transform:translateX(-2px) rotate(-1deg)
 }
 70% {
  -webkit-transform:translateX(2px) rotate(1deg);
  transform:translateX(2px) rotate(1deg)
 }
 80% {
  -webkit-transform:translateX(-2px) rotate(-1deg);
  transform:translateX(-2px) rotate(-1deg)
 }
 90% {
  -webkit-transform:translateX(1px) rotate(0);
  transform:translateX(1px) rotate(0)
 }
 100% {
  -webkit-transform:translateX(-1px) rotate(0);
  transform:translateX(-1px) rotate(0)
 }
}
@keyframes el-shaking {
 10% {
  -webkit-transform:translateX(3px) rotate(2deg);
  transform:translateX(3px) rotate(2deg)
 }
 20% {
  -webkit-transform:translateX(-3px) rotate(-2deg);
  transform:translateX(-3px) rotate(-2deg)
 }
 30% {
  -webkit-transform:translateX(3px) rotate(2deg);
  transform:translateX(3px) rotate(2deg)
 }
 40% {
  -webkit-transform:translateX(-3px) rotate(-2deg);
  transform:translateX(-3px) rotate(-2deg)
 }
 50% {
  -webkit-transform:translateX(2px) rotate(1deg);
  transform:translateX(2px) rotate(1deg)
 }
 60% {
  -webkit-transform:translateX(-2px) rotate(-1deg);
  transform:translateX(-2px) rotate(-1deg)
 }
 70% {
  -webkit-transform:translateX(2px) rotate(1deg);
  transform:translateX(2px) rotate(1deg)
 }
 80% {
  -webkit-transform:translateX(-2px) rotate(-1deg);
  transform:translateX(-2px) rotate(-1deg)
 }
 90% {
  -webkit-transform:translateX(1px) rotate(0);
  transform:translateX(1px) rotate(0)
 }
 100% {
  -webkit-transform:translateX(-1px) rotate(0);
  transform:translateX(-1px) rotate(0)
 }
}
.el-shaking{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.el-shaking:active,
.el-shaking:focus,
.el-shaking:hover{
    -webkit-animation-name: el-shaking;
    animation-name: el-shaking;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}