@media only screen and (min-width:300px) and (max-width: 640px) {
    .logo img {
        max-height: 40px;
    }
    .head2__inner{
        justify-content: center ;
    }
    .navHome{
        display: none;
    }
    .navigation-button{
        display: block;
    }
    .navigation-mobile__js-open .navigation-mobile {
        opacity: 1;
        visibility: visible;
        z-index: 4;
    }
    .head1 .row{
        position: relative;
    }
    .head1 .col-md-3{
        width: 40%;
        float: left;
    }
    .head1 .col-md-9{
        position: absolute;
        left: 0;
        right: 0;
    }
    .feature--icons {
        margin: 0 0 15px 0;
    }
    .feature--icons i {
        font-size: 80px;
    }
    .feature--icons i.icon-noun_35247_cc{
        margin: 0 25px 0 0;
    }
    .feature {
        padding: 60px 0;
    }
    .feature--description {
        font-size: 22px;
    }
    .project {
        padding: 60px 0;
    }
    .project--title-small {
        font-size: 14px;
    }
    .project--title-medium {
        font-size: 50px;
    }
    .project--item {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 15px 0;
    }
    .project--button-view-all {
        width: 160px;
        padding: 15px 0;
        font-size: 13px;
    }
    .client {
        background: url(/tp/v1/img/client-words.jpg) no-repeat fixed center;
        background-size: 600%;
        padding: 60px 0;
    }
    .client--title-small{
        font-size: 14px;
    }
    .client--title-medium {
        font-size: 50px;
    }
    .client--description{
        margin: 30px 0 20px 0;
        font-size: 16px;
        line-height: 30px;
    }
    .client--name {
        font-size: 16px;
    }
    .client--slider .owl-controls {
        margin: 20px 0 0 0;
    }
    .client--slider .owl-buttons {
        display: none;
    }
    .workflow {
        padding: 60px 0;
    }
    .tab-content {
        margin: 30px 0 0 0;
    }
    .nav-tabs {
        flex-wrap: wrap;
        margin: 0;
    }
    .nav-tabs>li {
        width: 100%;
        flex: 1 0 100%;
    }
    .nav-tabs>li>a{
        border: none;
        padding: 10px 15px;
        font-size: 13px;
    }
    .interior--image {
        width: 100%;
        margin: 0 0;
    }
    .interior--description {
        width: 100%;
        margin: 0 0;
        font-size: 18px;
        line-height: 30px;
    }
    .big-text {
        font-size: 40px;
    }
    .interior--content {
        flex-direction: column;
    }
    .footer__list{
        flex-direction: column;
    }
    .footer__title{
        margin-top: 30px;
    }
    .footer--wrapper {
        flex-direction: column;
        padding: 80px 0 180px 0;
    }
    .footer--item {
        width: 100%;
        padding: 0;
        margin: 0 0 30px 0;
    }
    .footer--title {
        font-size: 20px;
    }
    .footer--title:after {
        margin: 15px auto 15px auto;
    }
    .footer--content {
        font-size: 18px;
    }
    .social li a {
        padding: 10px 0;
        width: 75px;
    }
    .footer--wrapper-copyright {
        flex-direction: column;
    }
    .footer--copyright {
        width: 100%;
        margin: 0 0 5px 0;
    }
    .footer--design {
        width: 100%;
        text-align: center;
    }
    .slider-single.owl-theme .owl-controls .owl-page span{
        margin: 5px;
        height: 2px;
        width: 10px;
    }
    .slider-image:before{
        padding-top: 66.66%;
    }
    .info-article {
        flex-direction: column;
    }
    .info-article--col {
        margin: 0 0 30px 0;
    }
    .title-single{
        font-size: 30px;
    }
    .three-feature__inner{
        margin: 0;
    }
    .three-feature__item:nth-child(1){
        padding-top: 30px;
    }
    .three-feature__item:nth-child(3){
        padding-bottom: 30px;
    }
    .three-feature__item{
        width: 100%;
        justify-content: flex-start;
        padding-bottom: 15px;
    }
    .last-post{
        padding: 30px 15px;
    }
    .last-post__inner{
        flex-wrap: wrap;
    }
    .last-post__left{
        width: 100% !important;
        padding-right: 0;
    }
    .last-post__right{
        width: 100%;
        padding-top: 30px;
    }
    .last-post__right-2 .last-post__right--inner .last-post__right--item{
        width: 50%;
    }
    .three-service{
        padding: 60px 15px;
    }
    .three-service__list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .three-service__row{
        width: 100%;
    }
    .feedback{
        padding: 60px 15px;
    }
    .news__list li{
        width: 50%!important;
    }
    .news__item--inner{
        flex-direction: column;
    }
    .category-news__wrapper--image{
        width: 100%;
        margin: 0 0 15px;
    }
    .news__intro{
        width: 100%;
    }
    /****signup****/
    #a-pro-add ul{
        width: 100%;
    }
    #a-pro-add ul li input{
        width: 100%;
    }
    #a-pro-add ul li label {
        margin: 0 0 5px 0;
    }
    #a-pro-add > form > ul{
        width: 100%;
    }
    #a-pro-add li.btns label{
        width: 0;
    }
    #a-pro-add li.btns{
        text-align: center;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .product-home__button a{
        padding: 10px;
    }
}
@media only screen and (min-width:700px) and (max-width:800px) {
}
@media only screen and (min-width:800px) and (max-width:900px){
}

@media only screen and (min-width:900px) and (max-width:1024px){

}
@media only screen and (min-width:1024px) and (max-width:1200px){

}
@media only screen and (min-width:640px) and (max-width:1024px){

}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}