.detailNews>div.pageView {
    margin: 30px 0 15px 0;
}
/****** Category News ********/
.navNews{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
.navNews li{
    display: inline-block;
    margin: 0 15px;
}
.navNews li a{
    color: #999;
    font-size: 15px;
}
.navNews li a:hover, .navNews li a.active{
    color: #333;
    text-decoration: underline;
}
.lNCategory {
    margin-top: 30px;
}
.lNCategory li{
    width: 100%;
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom:1px solid #CCC;
}
.lNCategory li:first-child{
    padding-top: 0;
}
.lNCategory li a {
    width: 40%;
}

.lNCategory li h3 {
    margin: 0 0;
    font-size: 23px;
    font-weight: 500;
    border-bottom: none;
    color: #000000;
    line-height: 26px;
}
.lNCategory li h3 a{
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.lNCategory li h3 a:hover{
    color: #111;
}
.article__content{
    width: 60%;
    margin-left: 30px;
}
.article__content .news__date{
    margin: 10px 0;
    color: #888;
    font-size: 12px;
}
/****** paginator *******/
.paginatorProduct .paginator{
    text-align: center;
    padding: 15px 0 0 0;
}
.paginatorProduct .paginator a{
    display: inline-block;
    padding: 6px 13px;
    text-align: center;
    border: 1px solid #999;
    margin: 0 0 0 5px;
    color: #333;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.paginatorProduct .paginator a.currentPage{
    background: #f8f8f8;
}
.paginatorProduct .paginator a.paging-first:after{
    content: "\f100";
}
.paginatorProduct .paginator a.paging-previous:after{
    content: "\f104";
}
.paginatorProduct .paginator a.paging-next:after{
    content: "\f105";
}
.paginatorProduct .paginator a.paging-first, .paginatorProduct .paginator a.paging-previous, .paginatorProduct .paginator a.paging-last, .paginatorProduct .paginator a.paging-next{

}
.paginatorProduct .paginator a.labelPage{
    display: none;
}
.paginatorProduct .paginator a.paging-last:after{
    content: "\f101";
}

.breadcrumb {
    padding: 8px 0 !important;
    margin: 15px 0 !important;
    background-color: transparent !important;
}
.breadcrumb a {
    color: #333 !important;
}
/****** DetailNews ******/
.detailNews{
    overflow: hidden;
    width: 100%;
    margin: 20px auto 30px;
}
.detailNews>div.social{
    padding: 0 0 30px 0;
    border-bottom: 1px dashed #CCC;
    margin: 0 0 30px 0;
}
.detailNews>div>h1{
    font-size: 30px;
    font-weight: 500;
    color: #5d5d5d;
    text-transform: uppercase;
    padding: 0 0 15px 0;
    margin: 0 0;
    line-height: normal;
}
.detailNews img{
    max-width: 100%;
    height: inherit !important;
}
.detailNews *{
    max-width: 100%;
}
.detailNews p{
    line-height: 26px;
}

/*****relation article****/
.related-post__headline {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.related-post__item--title {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}
.related-post__item--title a {
    color: #333;
}
.related-post__item--title i{
    margin-right: 5px;
}
.related-post__item{
    border-bottom: 1px dashed #CCC;
    padding: 15px 0;
}
/**** news sidebar****/
.sidebar {
    background: #FFF;
}
.sidebar a {
    color: #333;
    margin-top: 60px;
}
.sidebar__title {
    margin: 20px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.page__title {
    margin: 20px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.sidebar__box {
    margin: 0 0 30px;
}
.sidebar__box:last-child {
    margin: 0;
}
.sidebar__box form input[type=text] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
}
.sidebar__box form input[type=text]:focus {
    outline: none;
}
.news__list-category  li{
    padding: 5px 0;
    position: relative;
}
.news__list-category > li{
    border-bottom: 1px solid #ccc;
}
.news__list-category li ul{
    display: none;
}
.news__list-category li ul li{
    padding: 5px 0 0 10px;
}
.news__list-category li:last-child{
    border-bottom: none;

}
.news__list-category li a{
    color: #333;
}
.news__list-category > li > a{

}
.news__list-category li a:hover{
    color: #000;
    transition: all 0.4s ease;
}
.news__list-category li button {
    position: absolute;
    right: 0;
    cursor: pointer;
    background: #111;
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
}
.news__list-category li button:before{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
}
.news__list-category > li.active > button:before{
    content: '-';
}
.nav2 > li.active > button:before{
    content: '-';
}
.nav2 li button:before{
    content: '+';
}

.sidebar__news li {
    padding-bottom: 15px;
    display: flex;
}
.sidebar__news li:last-child {
    border-bottom: none;
}
.sidebar__news li:first-child{
    padding-top: 0;
}
.sidebar__news li a {
    font-size: 15px;
    line-height: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar__news li:hover a {
    color: #111;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar__news li p {
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
}
.sidebar__image {
    background-position: top center;
    background-size: cover;
}
.sidebar__image:before{
    content: '';
    padding-top: 66.66%;
    display: block;
}
.sidebar__wrapper--image{
    width: 30%;
    margin-right: 15px;
}
.sidebar__content{
    width: 70%;
}
.sidebar__news h4{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
}
.related-post__list {
    margin: 0 0 30px;
}