@media only screen and (min-width:300px) and (max-width: 640px) {
    .logo img {
        max-height: 40px;
    }
    .slider{
        padding: 0 15px;
    }
    .feature__list--item{
        padding: 7.5px;
    }
    .navigation-mobile{
        margin: 70px 0 0 0 !important;
        opacity: 0;
        visibility: hidden;
        background: #FFF;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 3px solid #CCC;
        padding: 0 0 15px 0;
    }
    .navigation-block .navigation-mobile{
        opacity: 1;
        visibility: visible;
    }
    .navigation-mobile ul li{
        display: block;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: translate(0px, -5px);
        -moz-transform: translate(0px, -5px);
        -o-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
        transform: translate(0px, -5px);
    }
    .navigation-mobile__list a{
        font-size: 18px;
    }
    .navigation-mobile ul li a:after{
        display: none;
    }
    .navigation-block .navigation-mobile ul li{
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navigation-mobile ul li:nth-child(1){
        transition-delay: .0s;}
    .navigation-mobile ul li:nth-child(2){
        transition-delay: .125s;}
    .navigation-mobile ul li:nth-child(3){
        transition-delay: .25s;
    }
    .navigation-mobile ul li:nth-child(4){
        transition-delay: .375s;
    }
    .navigation-mobile ul li:nth-child(5){
        transition-delay: .5s;
    }
    .navigation-mobile ul li:nth-child(6){
        transition-delay: .625s;
    }
    .navigation-mobile ul li:nth-child(7){
        transition-delay: .75s;
    }
    .navHome{
        display: none;
    }
    .button__nav-menu {
        display: block;
    }
    .head__phone {
        display: none;
    }
    .head1 .row{
        position: relative;
    }
    .head1 .col-md-3{
        width: 40%;
        float: left;
    }
    .head1 .col-md-9{
        position: absolute;
        left: 0;
        right: 0;
    }
    .feature__list{
        width: 80%;
        padding: 0 -7.5px;
    }
    .feature {
        padding: 60px 0;
    }
    .feature--description {
        font-size: 22px;
    }
    .project {
        padding: 60px 0;
    }
    .project--title-small {
        font-size: 14px;
    }
    .project--title-medium {
        font-size: 50px;
    }
    .project--list{
        margin: 0;
    }
    .project__slider{
        margin: 0;
    }
    .project--list li {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 15px 0;
    }
    .project--button-view-all {
        width: 160px;
        padding: 15px 0;
        font-size: 13px;
    }
    .client {
        background: url(/tp/v1/img/client-words.jpg) no-repeat fixed center;
        background-size: 600%;
        padding: 60px 0;
    }
    .client--title-small{
        font-size: 14px;
    }
    .client--title-medium {
        font-size: 50px;
    }
    .client--description{
        margin: 30px 0 20px 0;
        font-size: 16px;
        line-height: 30px;
    }
    .client--name {
        font-size: 16px;
    }
    .client--slider .owl-controls {
        margin: 20px 0 0 0;
    }
    .client--slider .owl-buttons {
        display: none;
    }
    .workflow {
        padding: 60px 15px;
    }
    .tab-content {
        margin: 30px 0 0 0;
    }
    .nav-tabs {
        flex-wrap: wrap;
        margin: 0;
    }
    .nav-tabs>li {
        width: 100%;
        flex: 1 0 100%;
    }
    .nav-tabs>li>a{
        border: none;
        padding: 10px 15px;
        font-size: 13px;
    }
    .interior--image {
        width: 100%;
        margin: 0 0;
    }
    .interior--description {
        width: 100%;
        margin: 30px 0 0;
        font-size: 18px;
        line-height: 30px;
    }
    .big-text {
        font-size: 40px;
    }
    .interior--content {
        flex-direction: column;
    }
    .footer--wrapper {
        flex-direction: column;
        padding: 80px 0 180px 0;
    }
    .footer--item {
        width: 100%;
        padding: 0;
        margin: 0 0 30px 0;
    }
    .footer--title {
        font-size: 20px;
    }
    .footer--title:after {
        margin: 15px auto 15px auto;
    }
    .footer--content {
        font-size: 18px;
    }
    .social li a {
        padding: 10px 0;
        width: 75px;
    }
    .footer--wrapper-copyright {
        flex-direction: column;
    }
    .footer--copyright {
        width: 100%;
        text-align: center;
        margin: 0 0 5px 0;
    }
    .footer--design {
        width: 100%;
        text-align: center;
    }
    .slider-single.owl-theme .owl-controls .owl-page span{
        margin: 5px;
        height: 2px;
        width: 10px;
    }
    .info-article {
        flex-direction: column;
    }
    .info-article--col {
        margin: 0 0 30px 0;
    }
    .title-single{
        font-size: 30px;
    }
    .news__item{
        width: 100%;
    }
    .single-news__profile--row{
        width: 100%;
    }
    .single-news__title{
        font-size: 7vw;
        line-height: 35px;
    }
}
@media only screen and (min-width:768px) and (max-width:1900px){

    .navigation-mobile{
        display: none;
    }
}
@media only screen and (min-width:1024px) and (max-width:1366px){
}

@media only screen and (min-width:1366px) and (max-width:1600px){

}
@media only screen and (min-width:1600px) and (max-width:1900px) {

}