@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
    font-family: 'Inconsolata', monospace;
}
a:hover{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.header {
    width: 100%;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #FFF;
}

.register .header {
    position: relative;
}

.home-page .header {
    background: transparent;
}


.header-sologan {
    margin: 25px 0;
    color: #3c3950;
    font-weight: 700;
    font-size: 36px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.home-page .header-sologan {
    color: #FFF;
}

.footer__logo {
    color: #FFF;
}

.header-fix.home-page .header-sologan {
    color: #3c3950;
}

.header-fix .header-sologan {
    margin: 10px 0;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 470px;
    margin: 0 auto;
}

.header-logo {
    width: 25%;
}

.header-logo img {
    max-height: 60px;
    margin: 20px 0;
}

.header-nav {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid;
    padding: 20px 0;
}

.header-nav ul {
    display: flex;
    justify-content: center;
}

.header-nav ul li {
    margin: 0 15px;
}

.header-nav ul li a{
    text-transform: uppercase;
    color: #888;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Oswald', sans-serif;
}

.header-fix.home-page .header-nav ul li a {
    color: #3c3950;
}


.header-nav ul li:hover a, .header-nav ul li.active a{
    color: #111;
}

.hero-inner {
    position: relative;
    width: 100%;
    background-image: url(/tp/dweb/image/hero-bg.png);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.hero-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.78);
    z-index: -2;
}

.main-title {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.hero-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

.hero-title span {
    font-weight: 700;
    font-size: 48px;
}
.hero-description {
    font-size: 15px;
    font-weight: 300;
}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
    visibility: hidden; }

.wp2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.wp1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.wp3{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible; }


.hero-button_link {
    margin: 30px 0 0 0;
    border: 1px solid rgb(0, 188, 212);
    color: rgb(0, 188, 212);
    padding: 8px 25px;
    border-radius: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hero-button_link:hover {
    background: rgb(0, 188, 212);
    color: #FFF;
}

.hero-button_link:hover{
    background: rgb(0, 188, 212);
    color: #FFF;
}

.hero-mouse_scroll {
    border: 1px solid #FFF;
    width: 32px;
    height: 48px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    border-radius: 20px;
    cursor: pointer;
}

.hero-mouse_scroll:after {
    content: '';
    width: 4px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 7px;
    border-radius: 4px;
    background-color: #FFF;
    margin-left: -2px;
    opacity: 1;
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    animation: 1.5s cubic-bezier(0.68,-0.55,0.265,1.55) 0s normal none infinite running scrollAnimation;
    -webkit-animation: 1.5s cubic-bezier(0.68,-0.55,0.265,1.55) 0s normal none infinite scrollAnimation;
}

@keyframes scrollAnimation{0%,20%{transform:translateY(0px) scaleY(1) scaleX(1) translateZ(0px)}10%{opacity:1;transform:translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px)}100%{opacity:.01;transform:translateY(16px) scaleY(2.5) scaleX(0.5) translateZ(0px)}}
@-webkit-keyframes scrollAnimation{0%,20%{-webkit-transform:translateY(0px) scaleY(1) scaleX(1) translateZ(0px)}10%{opacity:1;-webkit-transform:translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px)}100%{opacity:.01;-webkit-transform:translateY(16px) scaleY(2.5) scaleX(0.5) translateZ(0px)}}

.about {
    background-image: url(/tp/dweb/image/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    overflow: hidden;
}

.about:before {
    content: '';
    display: inline-block;
    padding-top: 50%;
}

.about-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.about-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 50%;
    right: 0;
    padding-right: 10%;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    margin: 0 0 20px 0;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    color: #3c3950;
}

.about-title span {
    font-weight: 700;
}

.about-description_sub {
    font-size: 20px;
    font-weight: 300;
    color: rgba(60, 57, 80, 0.71);
}

.about-description {
    font-size: 16px;
    font-weight: 300;
    color: rgba(60, 57, 80, 0.71);
}
.about-button {
    margin: 20px 0 0 0;
}
.btn-d {
    padding: 10px 20px;
    border: 1px solid rgb(0, 188, 212);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    color: rgb(0, 188, 212);
    display: inline-block;
    width: 160px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-d:hover{
    background: rgb(0, 188, 212);
    color: #FFF;
}

.footer__one {
    padding: 100px 0;
    background: #21232C;
    min-height: 450px;
    display: flex;
}

.footer__row {
    padding: 0 30px;
    width: 25%;
}
.footer__two {
    max-width: 470px;
    margin: 0 auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.footer__social ul {
    display: flex;
}

.footer__social ul li {
    margin: 0 15px;
}

.footer__social ul li a {
    color: #e4e4e4;
    font-size: 18px;
}
.footer__social ul li a:hover {
    color: #FFF;
}

.footer__logo {
    margin: 0 0 15px 0;
}

.header-fix .footer__logo {
    margin: 0 0 15px 0;
    color: #FFF !important;
}

.footer__caption {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__inner {
    margin: 0 -30px;
    display: flex;
}

.footer__copyright {
    color: #666;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    font-size: 13px;
}
.footer__copyright a {
    color: #00bcd4;
}

.footer__title {
    margin: 0 0 30px 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.footer__nav li{
    margin: 0 0 15px 0;
}
.footer__nav li a{
    color: #bdbdbd;
    font-weight: 300;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer__nav li a:hover{
    color: #00bcd4;
}

.m-t-100 {
    margin: 100px 0 0;
}

/*********** News **********/
.news {
    margin: 60px 0 0;
}
.news__inner {
    padding: 0 0 50px;
}
.news__list {
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    max-width: 500px;
}
.news__item {
    margin: 0 0 50px;
    padding: 0 15px;
    width: 100%;
}
.news__item--inner {
    background-color: #FFF;
    overflow: hidden;
    height: 100%;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    border-bottom: 2px solid;
}
.news__item--inner:hover {
    transform: translateY(-5px);
}
.news__image {
    position: relative;
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.news__image img {
    width: 100%;
    height: auto;
}
/*.news__image:before {*/
    /*content: '';*/
    /*padding-top: 55.6%;*/
    /*display: block;*/
/*}*/
.news__list-category {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.news__list-category li {
    margin: 0 5px;
}
.news__list-category li a {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 8px 15px;
    color: #333;
    font-weight: 300;
    font-size: 12px;
    background-color: #FFF;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif
}
.news__list-category li a.active, .news__list-category li:hover a {
    color: #FFF;
    background: #b1b1b1;
    border: 1px solid #b1b1b1;
}
.news__title {
    margin: 0 0 10px;
    font-weight: 400;
    color: #333;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
}
.news__date {
    margin: 0 0 5px;
    background-color: #f1f1f1;
    color: #111;
    display: inline-block;
    padding: 1px 5px;
    line-height: 18px;
}
.news__item a {
    color: #666;
}
.news__intro {
    padding: 30px 0;
}

.news__intro--sub {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    font-family: "Noto Serif";
}

.single-news {
    background-color: #FFF;
}

.single-news__image-thumbnail {
}

.single-news__detail {
    max-width: 500px;
    margin: -110px auto 0;
    background-color: #FFF;
    z-index: 9;
    position: relative;
    padding: 30px 40px;
}

.single-news__detail--gallery {
    max-width: 1000px;
}


.single-news__image {
    margin: 30px auto;
    max-width: 700px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.single-news__image:before {
    content: '';
    padding-top: 40%;
    display: block;
}

.single-news__content * {
    max-width: 100% !important;
    height: inherit !important;
}
.single-news__content p {
    line-height: 22px !important;
}

.news-category {
    display: none;
}

.single-news__title {
    margin: 0 0 10px;
    font-size: 22px;
    line-height: 22px;
}
.single-news__title--gallery {
    margin: 30px 0;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.single-news__content {
    font-family: "Noto Serif";
    font-size: 17px;
    line-height: 32px;
}
.single-news__profile {
    color: #999;
    margin: 10px 0 20px 0;
    font-weight: 300;
    display: flex;
}

.single-news__profile--row {
    width: 25%;
}

.single-news__profile--row h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #111;
}

.single-news__profile span {
    margin: 0 10px 0 0;
}
.single-news__profile span i {
    margin: 0 5px 0 0;
    color: #333;
}
.single-news__button {
    text-align: center;
    margin: 80px 0 20px 0;
}
.single-news__button a.btn-d {
    display: inline;
    background: #333;
    color: #FFF;
}
.single-news__button span {
    font-weight: 300;
    margin: 0 10px 0 0;
    color: #888;
    font-style: italic;
}

.single-news__relation--title {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Serif";
    border-bottom: 1px dashed #ccc;
    padding: 20px 0;
    margin: 0 0;
}

.single-news__relation {
    margin: 30px 0 0;
}

.single-news__relation ul li
{
    border-bottom: 1px dashed #ccc;
}
.single-news__relation ul li i {
    margin: 0 10px 0 0;
    color: #666;
}
.single-news__relation ul li a {
    color: #666;
    font-size: 16px;
    display: inline-block;
    font-family: "Noto Serif";
    padding: 20px 0;
}


.paging-first, .paging-previous, .paging-next, .paging-last
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.news__paginator .paginator {
    margin: 50px 0 0 0;
}
.paginator {
    display: flex;
    justify-content: center;
}
.paginator a {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 0 5px;
    color: #000;
    font-weight: 400;
}
.paginator a.currentPage, .paginator a:hover {
    background: #000;
    border: 1px solid #000;
    color: #FFF;
}
.paginator a.labelPage {
    display: none;
}
a.paging-next:after {
    content: "\f105";
}
a.paging-last:after {
    content: "\f101";
}
a.paging-first:after {
    content: "\f100";
}
a.paging-previous:after {
    content: "\f104";
}

.adv-middle {
    margin: 0 0 30px;
    padding: 0 15px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}
.adv-middle-nop {
    padding: 0;
}
.adv-middle a {
    color: #FFF;
}
.adv-middle figure {
    background-size: cover;
    background-position: 0 -55px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.landing-head-hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
.landing-head-hero__content h2 {
    margin: 30px 0;
    text-transform: uppercase;
    color: #c5ff41;
}
.landing-head-hero__content p {
    margin: 0 30px;
    display: flex;
    align-items: center;
}
.landing-head-hero__content p span {
    font-size: 36px;
    font-weight: 600;
    color: #ff7f0c;
    margin: 0 10px;
}
.landing-head-hero__content>span {
    padding: 0 30px;
    height: 40px;
    /*border: 1px solid #0d9cb3;*/
    /*background-color: #0d9cb3;*/
    /*color: #FFF;*/
    border-radius: 30px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #0d9cb3;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.adv-middle:hover .landing-head-hero__content>span {
    border: 1px solid #ff7f0c;
    background-color: #ff7f0c;
    color: #FFF;
}

.single-news__slider--image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
}

.single-news__slider--image:before {
    content: '';
    padding-top: 55.6%;
    display: block;
}

.owl-nav {

}

.owl-nav div {
    position: absolute;
    top: 45%;
    width: 35px;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.owl-nav div.owl-prev {
    left: 15px;
}

.owl-nav div.owl-next {
    right: 15px;
}

@media only screen and (min-width:300px) and (max-width: 640px) {

}
@media only screen and (min-width: 640px) and (max-width:1024px){

}
@media only screen and (min-width:1024px) and (max-width:1366px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}