@media only screen and (min-width:300px) and (max-width: 640px) {
    .container{
        padding: 0 30px;
    }
    .head__inner {
        justify-content: center;
    }
    .head1 .col-sm-6 {
        width: 50%;
    }
    .head1 .row {
        align-items: center;
        display: flex;
    }
    .logo {
        margin: 10px 0;
    }
    .banner-image>div p {
        font-size: 16px;
    }
    .formSearch{
        display: none;
    }
    .head .container {
        width: 100%;
    }
    .head .container .row>div.col-sm-2{
        width: 26%;
    }
    .head .container .row>div.col-sm-5{
        width: 37%;
    }
    .head .container .row>div.col-sm-5:nth-child(1) {
        position: initial;
    }
    .head>.container .col-sm-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navTool {
        margin: 0 0 0 15px;
        position: inherit;
        top: 0;
        left: 0;
        text-align: center;
        display: inline-block;
    }
    .banner-image>div h2 {
        font-size: 42px;
        margin: 0 0 10px 0;
    }
    .banner-image>div p {
        margin: 0 0 10px;
    }
    .banner-image>div a {
    }
    .navTool>div.user {
        display: none;
    }
    form#search input{
        width: 280px;
    }
    .navHome{
        margin: 15px 0;
        display: none;
    }
    ul.cart>li>a {
        width: 13px;
        display: inline-block;
        height: 30px;
        overflow: hidden;
    }
    #searchMobile{
        display: block;
    }
    .head2 .col-md-8>div{
        text-align: center;
    }
    .head2 .col-md-8>div>a{
        float: none;
        display: inline-block;
    }
    .head2 .col-md-8>div>a:nth-child(2){
        border-right: none;
        padding: 0 0 0 5px;
    }
    .head2 .col-md-8>div>a:first-child{
        padding: 0 5px 0 0;
    }
    .logo img{
        max-width: 100%;
    }
    #searchMobile{
        position: relative;
        margin: 10px 0 0 0;
    }
    #searchMobile input[type=text]{
        border: 1px solid #111;
        padding: 0 0;
        text-indent: 10px;
        height: 32px;
        background: #FFF;
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 0;
        width: 99.5%;
    }
    #searchMobile input[type=text]:focus{
        outline: none;
    }
    #menuMobile{
        margin: 0 15px 0 0;
        display: inline-block;
        width: 40px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        color: #333;
    }
    .navHome.open{
        display: block;
        position: absolute;
        z-index: 20;
        margin: 0 0;
        left: 0;
        right: 0;
        padding: 5px 0;
        background: #fff;
        top: 70px;
        border-bottom: 2px solid #333;
    }
    .navHome ul ul {
        padding: 15px 0 0;
        position: inherit;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        width: 100%;
    }
    .navHome ul ul li {
        padding: 5px 20px;
    }
    .navHome ul li:hover ul {
        top: 0;
    }
    .navHome.open ul{
        text-align: left;
    }
    .navHome.open ul li{
        display: block;
    }
    .navHome>ul>li {
        margin: 0;
        padding: 10px 20px;
    }
    .navHome>ul>li>a {
        color: #333;
    }
    #product{
        display: block !important;
    }
    #banner .owl-controls .owl-buttons>div{
        display: none !important;
    }

    .banner-image:before {
        padding-top: 66%;
    }

    .banner-one__inner {
        flex-direction: column;
    }
    .banner-one__right {
        order: 1;
    }
    .banner-one__left {
        order: 2;
    }
    .banner-one__left, .banner-one__right {
        width: 100%;
    }
    .banner-one__content {
        margin: 30px 0 0;
        padding: 0;
    }
    .banner-one__content h2 {
        font-size: 40px;
    }
    .banner-one__content h3 {
        font-size: 70px;
    }
    .banner-one__content  p {
        font-size: 18px;
    }
    .sales__inner h3, .sales__title {
        font-size: 60px;
        text-align: center;
    }
    .sales__content {
        font-size: 30px;
    }
    .icon-right {
        width: 28px;
        height: 100px;
        right: 0;
    }
    .icon-left {
        width: 100px;
        height: 47px;
        opacity: 0.7;
    }
    .title {
        font-size: 40px;
    }
    .feature-product__tab li a {
        font-size: 24px;
    }
    .two-banner__inner {
        margin: 30px 0 0;
        flex-direction: column;
    }
    .two-banner__item {
        margin: 0 0 15px;
        width: 100%;
    }
    .two-up__inner {
        flex-direction: column;
    }
    .two-up__left, .two-up__right {
        width: 100%;
    }
    .two-up__product {
        padding: 0 30px;
    }
    .two-up__product-title1 {
        text-align: center;
        font-size: 20px;
    }
    .two-up--2 .two-up__right {
        order: 1;
    }
    .two-up--2 .two-up__left {
        order: 2;
    }
    .feature-product__title {
        font-size: 20px;
    }
    .feature-product__inner {
    }
    .feature-product__list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -7.5px;
    }
    .feature-product__list li{
        width: 50%;
        padding: 0 7.5px 15px;
    }
    .lPC {
        margin: 0 -7.5px;
    }
    .productCategory .titlePaginator {
        margin: 0 0 15px;
    }
    .service__inner {
        padding: 0 30px;
        width: auto;
        flex-wrap: wrap;
        margin: 0 15px;
        flex-direction: column;
    }
    .service__item {
        padding: 20px 0;
        margin: 0 0 15px;
        width: 100%;
        flex: 1 0 100%;
    }
    .one-post:before {
        padding-top: 50%;
    }
    .lPC .two-up__product-item {
        width: 50%;
        margin: 0 7.5px 15px;
    }
    .client-say__inner {
        flex-direction: column;
    }
    .client-say__item {
        margin: 0 0 15px 0;
        width: 100%;
    }
    /********** Footer ************/
    ul.f1>li{
        border-right: none;
        height: inherit;
    }
    ul.f1>li, ul.f2>li{
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
        padding: 0 0
    }
    ul.f1>li>form>input[type=text]{
        width: 183px;
    }
    .footer__contact {
        padding: 20px 0;
    }
    /****** Category *********/

    /******* View Product *********/
    .open-sidebar {
        display: block;
    }

    .left {
        display: none;
    }
    .product-detail{
        width: 100%;
    }
    .product-detail__description{
        width: 100%;
        margin: 15px 0;
    }
    #imgZoom{
        display: none;
    }
    .descriptionProduct{
        width: 100%;
        margin: 0 0;
        float: none;
    }
    #product{
        display: block !important;
        margin: 0 0 10px 0;
    }
    #product .owl-controls .owl-pagination span{
        height: 1px;
    }

    .cart table tr:first-child{
        display: none;
    }
    .cart table tr{
        width: 100%;
    }
    .cart table tr td:nth-child(1), .cart table tr td:nth-child(3),.cart table tr td:nth-child(4){
        display: none;
    }
    .cart table tr:last-child td:nth-child(1){
        display: block;
    }
    .cart h1{
        text-align: center;
    }
    .checkout>form>.col-md-6:nth-child(2){
        margin: 20px 0 0 0;
    }

    .hero__image:after {
        padding-top: 40%;
    }

    /******** News  **********/
    .navNews li {
        margin: 0 8px;
    }
    .lNCategory li{
        margin: 0 0 30px;
        padding: 0 0 30px;
        flex-wrap: wrap;
    }
    .lNCategory{
        margin: 15px 0;
    }
    .lNCategory p.intro{
        margin: 0;
    }
    .lN {
        margin: 15px 0;
    }
    .lN li {
        padding: 15px 0;
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
        height: initial;
        flex-direction: column;
    }
    .lN li:first-child{
        padding-top: 0;
    }
    .lNCategory li a{
        width: 100%;
    }
    .lNCategory li .article__content{
        width: 100%;
        padding: 15px 0 0;
    }
    .detailNews {
        width: 100%;
    }
    .breadcrumb-category{
        text-align: center;
    }
    .detailNews > div > h1{
        text-align: center;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li input{
        width: 100%;
    }
    .signup ul li label {
        margin: 0 0 5px 0;
    }
    .signup > form > ul{
        width: 100%;
    }
    .signup li.btns label{
        width: 0;
    }
    .signup li.btns{
        text-align: center;
    }
    .feature2 .w40{
        width: 100%;
    }
    .feature2 .w60 {
        width: 100%;
    }
    .feature2 {
        margin: 15px 0 0;
    }
    .banner-image10, .banner-image5 {
        margin: 0 0 15px;
    }
    .feature2 figure div h3 {
        font-size: 26px;
    }
    .banner-image5:before {
        padding-top: 50%;
    }
    .head2 .row {
        position: relative;
    }
    .head2 .row .col-md-6 {
        position: initial;
    }
    .detailProduct {
        display: block;
    }
    .product-single-hero {
        padding: 80px 0;
        text-align: center;
    }
    .product-single-hero h3 {
        font-size: 32px;
        max-width: 80%;
    }
    .hero-product__image:before {
        padding-top: 40%;
    }
    .sidebar{
        margin: 0 -15px 30px;
    }
    .banner-image > div{
        text-align: center;
    }
    .footer__newsletter form{
        justify-content: flex-start;
    }

    .relationProduct{
        width: 100%;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .descriptionProduct {
        width: 33%;
        margin: 0 0 0 3%;
    }
    .head2 .container {
        width: 100%;
    }
    .sidebar{
        padding: 0;
    }
    #zoomer{
        width: 300px;
    }
    #imgZoom{
        display: flex;
    }
    .navHome{
        display: none;
    }
    .feature-product__list li{
        width: 50%;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){
    .descriptionProduct {
        width: 38%;
        margin: 0 0 0 3%;
    }
    .head2 .container {
        width: 100%;
    }
    .sidebar{
        padding: 0;
    }
    #zoomer{
        width: 300px;
    }
    #imgZoom{
        display: flex;
    }
    .navHome{
        display: none;
    }
    .feature-product__list li{
        width: 50%;
    }

}
@media only screen and (min-width:800px) and (max-width:900px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
    .sidebar{
        padding: 0;
    }
}
@media only screen and (min-width:900px) and (max-width:1024px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    .descriptionProduct {
        width: 55%;
        margin: 0 0 0 3%;
    }
}

@media only screen and (min-width:640px) and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .head1 .col-md-3{
    }
    .head1 .col-md-6:nth-child(1){
        width: 60%;
        float: left;
    }
    .head1 .col-md-6:nth-child(2) {
        width: 40%;
        float: left;
    }
    .head2 .col-md-3:nth-child(1){
        width: 20%;
    }
    .head2 .col-md-6:nth-child(2){
        width: 80%;
    }

    .head2 .col-md-3:nth-child(3){
        display: none;
    }
    .head .col-md-12{
        display: inline-block;
        width: 100%;
    }
    ul.lP li, ul.lP li:nth-child(4n+0){
        width: 32%;
        margin: 0 2% 10px 0;
        height: inherit;
    }
    ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
    ul.f1>li>form>input[type=text]{
        width: 50%;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
    .feature-product__list{
        flex-wrap: wrap;
    }

}
@media only screen and (min-width:1024px) and (max-width:1200px) {
    ul.lP li {
        width: 227px;
        height: inherit;
        margin: 0 10px 10px 0;
    }
    ul.lP li:nth-child(4n+0) {
        margin: 0 0 10px 0;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}