.signup{
    margin: 30px 0 0 0;
}
.signup>h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    margin: 20px 0 15px 0;
}
.signup>form>ul{
    width: 430px;
    margin: 0 auto;
    background: #f8f8f8;
    padding: 15px 25px 10px 25px;
    border-top: 2px solid #333;
}
.signup>form>ul .errors{
    font-size: 12px;
    font-style: italic;
    padding: 0 0 0 130px;
    color: #999;
}
.signup ul li{
    margin: 10px 0;
}
.signup ul li label{
    float: left;
    width: 130px;
    margin: 5px 0 0 0;
    font-weight: 400;
}
.signup ul li input{
    border: 1px solid #CCC;
    padding: 5px 10px;
    width: 250px;
}
.signup ul li input:focus{
    outline: none;
}
.signup ul li input[type=submit]{
    background: #333;
    border-radius: 0;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    padding: 6px 0;
    width: 130px;
}
.signup ul li input[type=submit]:focus{
    outline: none;
    background: #111;
}
/****product sidebar****/
.box li ul li{
    /*  margin: 0 0 15px 10px;
  }
  .box li ul{
     /* padding: 15px 0 0;*/
}
.box a{
    color: #333;
}
.box i{
    margin-right: 5px;
}
.box__content{
    width: 55%;
    margin-left: 15px;
}
.box__content a{
    color: #333;
}
.box-product__list li{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.box-product__list .price{
    border-bottom: none;
}
.box-product__list .price span{
    font-size: 14px;
}
.box-product__list li i{
    font-size: 13px;
}
.sidebar-product__image {
    background-position: top center;
    background-size: cover;
}
.sidebar-product__image:before{
    content: '';
    padding-top: 100%;
    display: block;
}
.sidebar-product__image {
    width: 100px;
}
/**** News sidebar ****/
.sidebar {
    background: #FFF;
}
.sidebar a {
    color: #333;
}
.sidebar__title {
    margin: 0 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
}
.sidebar__box {
    margin: 0 0 30px;
}
.sidebar__box:last-child {
    margin: 0;
}
.sidebar__box form input[type=text] {
    width: 100%;
    padding: 8px 10px;
    border: 3px solid #eaeaea;
}
.sidebar__box form input[type=text]:focus {
    outline: none;
}
.news__list-category li {
    margin: 0 0 15px;
}
.news__list-category li:last-child{
    margin-bottom: 0;
}
.news__list-category li i {
    margin: 0 10px 0 0;
}
.sidebar__news li {
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
    display: flex;
}
.sidebar__news li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.sidebar__news li:first-child{
    padding-top: 0;
}
.sidebar__news li  a {
    color: #111;
    font-size: 15px;
    line-height: 13px;
}
.sidebar__news li:hover a {
    color: #666;
}
.sidebar__news li p {
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
}
.sidebar__image {
    background-position: top center;
    background-size: cover;
}
.sidebar__image:before{
    content: '';
    padding-top: 75%;
    display: block;
}
.sidebar__image {
    width: 100px;
    margin: 0 15px 0 0;
}